<form
    action="{{ nrh_endpoint_domain|esc_url }}/memberform"
    class="donate-form pedestal-shortcode js-donate-form"
    data-nrh-endpoint-domain="{{ nrh_endpoint_domain|esc_url }}"
    data-ga-category="donate-page"
>
    <div class="donate-form__inner-wrap">
        <fieldset class="donate-form__inner">

            <div class="donate-form__fields">
                <input name="org_id" value="{{ nrh_property|esc_attr }}" type="hidden">
                <input name="property" value="{{ nrh_property|esc_attr }}" type="hidden">

                {% if campaign %}
                <input name="campaign" value="{{ campaign|esc_attr }}" type="hidden">
                {% endif %}

                <div class="donate-form__amount">
                    <label class="donate-form__amount__label" for="donate-form-amount-input">
                        I would like to give
                    </label>
                    <div class="donate-form__amount__input-group input-group">
                        {{ ped_icon( 'dollar-sign', 'donate-form__amount__prefix input-group__addon' ) }}
                        <input type="number"
                            id="donate-form-amount-input"
                            class="donate-form__amount__input input-group__input js-donate-form-amount"
                            name="amount"
                            value="15"
                        />
                    </div>
                </div>

                <fieldset class="donate-form__frequency">
                    <div class="donate-form__frequency-option form-radio">
                        <input type="radio" checked
                            id="donate-form-frequency-monthly"
                            class="donate-form__frequency-option__input form-radio__input js-donate-form-frequency"
                            name="installmentPeriod"
                            value="monthly"
                        />
                        <label for="donate-form-frequency-monthly" class="form-radio__label">
                            Monthly (this helps us most!)
                        </label>
                    </div>

                    <div class="donate-form__frequency-option form-radio">
                        <input type="radio"
                            id="donate-form-frequency-yearly"
                            class="donate-form__frequency-option__input form-radio__input js-donate-form-frequency"
                            name="installmentPeriod"
                            value="yearly"
                        />
                        <label for="donate-form-frequency-yearly" class="form-radio__label">
                            Yearly
                        </label>
                    </div>

                    <div class="donate-form__frequency-option form-radio">
                        <input type="radio"
                            id="donate-form-frequency-once"
                            class="donate-form__frequency-option__input form-radio__input js-donate-form-frequency"
                            name="installmentPeriod"
                            value=""
                        />
                        <label for="donate-form-frequency-once" class="form-radio__label">
                            Today only
                        </label>
                    </div>

                </fieldset>
            </div>

            <div class="donate-form__submit">
                {% include 'partials/shortcode/donate-form-submit-button.twig' %}

                <div class="donate-form__secured-by">
                    <span class="donate-form__secured-by__lock">{{ ped_icon('lock') }}</span>
                    <span class="donate-form__secured-by__text">Secured by</span>
                    <div class="donate-form__stripe-logo">
                        {{ stripe_logo }}
                    </div>
                </div>
            </div>

        </fieldset>
    </div>
</form>
