<header>
    {# <!-- The title and subtitle shown in your Instant Article --> #}
    <h1>{{ item.get_the_title }}</h1>

    {# <!-- The date and time when your article was originally published --> #}
    <time class="op-published" datetime="{{ item.get_post_date('c') }}">{{ item.get_post_date( site.date_format ) }}, {{ item.get_post_date( site.time_format ) }}</time>

    {# <!-- The date and time when your article was last updated --> #}
    <time class="op-modified" dateTime="{{ item.get_modified_date('c') }}">{{ item.get_modified_date( site.date_format ) }}, {{ item.get_modified_date( site.time_format ) }}</time>

    {# <!-- The authors of your article --> #}
    {% for author in item.get_authors %}
        <address>
            {% if author.get_facebook_profile_url %}
                {% set facebook = 'rel="facebook" href="' ~ author.get_facebook_profile_url ~ '"' %}
            {% endif %}
            <a {{ facebook }} title="{{ author.get_title }}">{{ author.get_display_name }}</a>
            {{ author.get_short_bio }}
        </address>
    {% endfor %}

    {# <!-- The cover image shown inside your article --> #}
    {% include 'partials/overview/lead-image.twig' %}

    {# <!-- A kicker for your article --> #}
    {% if item.get_excerpt %}
    <details>
        <summary>Description</summary>
        {{ item.get_excerpt }}
    </details>
    {% endif %}

    {% if 'whosnext' != item.get_type %}
    <figure class="op-ad">
        {% include 'partials/adverts/dfp-fias-auto-300x250.twig' ignore missing %}
    </figure>
    {% endif %}

</header>
