<!doctype html>
<html lang="en" prefix="op: http://media.facebook.com/op#">
    <head>
        <meta charset="utf-8">
        <link rel="canonical" href="{{ item.get_permalink }}">
        <meta property="fb:pages" content="{{ site.social.facebook_page_id }}" />
        <meta property="op:markup_version" content="v1.0">
        <meta property="fb:use_automatic_ad_placement" content="{{ item.fias_use_automatic_ad_placement }}">
        <meta property="og:title" content="{{ item.get_the_title }}">

        {% if item.get_excerpt %}
        <meta property="og:description" content="{{ item.get_excerpt }}">
        {% endif %}

        {% if item.has_featured_image %}
        <meta property="og:image" content="{{ item.get_featured_image_url( 'max-4-3' ) }}">
        {% endif %}
    </head>
    <body>
        <article>

            {% include 'partials/feeds/fias/content-header.twig' %}

            {% include [
                'partials/feeds/fias/content-body-' ~ item.get_type ~ '.twig',
                'partials/feeds/fias/content-body.twig'
            ] %}

            {# <!-- Analytics code for your article --> #}
            <figure class="op-tracker">
                <iframe>
                    {% include 'partials/analytics/analytics-ga.twig' %}
                </iframe>
            </figure>

            <figure class="op-tracker">
                <iframe>
                    <script>
                        PARSELY = {
                            autotrack: false,
                            onload: function() {
                                PARSELY.beacon.trackPageView({
                                    urlref: 'http://instantarticles.fb.com'
                                });
                                return true;
                            }
                        }
                    </script>
                    {% include 'partials/analytics/analytics-parsely.twig' %}
                </iframe>
            </figure>

            {% include 'partials/feeds/fias/content-footer.twig' %}

        </article>
    </body>
</html>
