<title>{{ item.get_title }}</title>
<link>{{ item.get_permalink }}</link>

<content:encoded><![CDATA[
    {% include [
        'partials/feeds/fias/content-' ~ item.get_type ~ '.twig',
        'partials/feeds/fias/content.twig'
    ] %}
]]></content:encoded>

<guid isPermaLink="false">{{ item.get_guid }}</guid>

{% if item.get_excerpt %}
    <description><![CDATA[ {{ item.get_excerpt }} ]]></description>
{% endif %}

<pubDate>{{ item.get_post_date('c') }}</pubDate>

{% for author in item.get_authors %}
    <author><![CDATA[ {{ author.get_display_name }} ]]></author>
{% endfor %}
