{% import _self as nav_macros %}

{% macro secondary_nav_list( data ) %}
    <ul class="site-nav__list">
        {% for class, item in data %}
            <li class="site-nav__item">
                <a href="{{ item.url|esc_url }}" class="site-nav__link {{ class|esc_attr }}">
                    {% if item.icon %}
                        {{ ped_icon( item.icon, 'site-nav__icon' ) }}
                    {% endif %}
                    {{ item.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

<header class="site-header--with-nav" role="banner">
    <div class="site-header--with-nav__inner">
        <a
            href="{{ site_url|esc_url }}"
            class="site-header--with-nav__logo-link"
            rel="home"
            data-ga-category="Site Logo|Header"
            data-ga-label=""
        >
            {{ ped_logo( 'logo', 'site-header--with-nav__logo' ) }}
            <span class="invisible">Home</span>
        </a>

        <a
            href="{{ site_url|esc_url }}/navigation/"
            class="site-header--with-nav__menu-trigger js-modal-trigger"
            data-modal-id="header-nav-modal"
        >
            {{ ped_icon( 'bars', 'site-header--with-nav__hamburger' ) }}
            <span class="invisible">Menu</span>
        </a>

        {% include 'partials/modals/search.twig' %}

        <section
            id="header-nav-modal"
            class="site-header--with-nav__modal-menu"
            data-modal-class="modal--header-nav"
        >
            <div class="site-nav--primary__outer">
                <nav class="site-nav site-nav--primary">
                    <ul class="site-nav__list">
                        {% for item in primary_nav %}

                            {% if item.slug == 'search' %}
                                {% set additional_classes = 'js-modal-trigger' %}
                                {% set additional_attributes = 'data-modal-id="search-modal"' %}
                            {% endif %}

                            <li class="site-nav__item">
                                <a
                                    href="{{ item.url|esc_url }}"
                                    class="site-nav__link {{ additional_classes|esc_attr }}"
                                    {{ additional_attributes }}

                                >
                                    <div class="site-nav__group">
                                        {% if item.icon %}
                                            {{ ped_icon( item.icon, 'site-nav__icon' ) }}
                                        {% endif %}
                                        <span class="site-nav__text--{{ item.slug|esc_attr }}">
                                            {{ item.title }}
                                        </span>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>

            {% if secondary_nav_mobile %}
                {% set secondary_nav_desktop_class = 'site-nav--desktop' %}
                <nav class="site-nav--secondary site-nav--mobile" aria-hidden="true">
                    {{ nav_macros.secondary_nav_list( secondary_nav_mobile ) }}
                </nav>
            {% endif %}

            <nav class="site-nav--secondary {{ secondary_nav_desktop_class|esc_attr }}">
                {{ nav_macros.secondary_nav_list( secondary_nav ) }}
            </nav>

            <div class="site-header--with-nav__marketing">
                <ul class="site-header--with-nav__social">
                    {% set gaCategorySocial = 'Social Icon - Header' %}
                    {% set socialIconClass = 'site-header--with-nav__social-icon' %}

                    <li class="site-header--with-nav__social-item">
                        <a
                            href="{{ twitter_url|esc_url }}"
                            target="_blank"
                            class="site-header--with-nav__social-link"
                            data-ga-category="{{ gaCategorySocial|esc_attr }}"
                            data-ga-label="Twitter"
                        >
                            {{ ped_icon('twitter', socialIconClass) }}
                        </a>
                    </li>
                    <li class="site-header--with-nav__social-item">
                        <a
                            href="{{ facebook_url|esc_url }}"
                            target="_blank"
                            class="site-header--with-nav__social-link"
                            data-ga-category="{{ gaCategorySocial|esc_attr }}"
                            data-ga-label="Facebook"
                        >
                            {{ ped_icon('facebook', socialIconClass) }}
                        </a>
                    </li>
                    <li class="site-header--with-nav__social-item">
                        <a
                            href="{{ instagram_url|esc_url }}"
                            target="_blank"
                            class="site-header--with-nav__social-link"
                            data-ga-category="{{ gaCategorySocial|esc_attr }}"
                            data-ga-label="Instagram"
                        >
                            {{ ped_icon('instagram', socialIconClass) }}
                        </a>
                    </li>
                </ul>

                {% if tagline %}
                <p class="site-header--with-nav__tagline">{{ tagline }}</p>
                {% endif %}
            </div>
        </section>
    </div>
</header>
