{% spaceless %}
<article class="{{ classes }} c-daily-insta  c-panel">
    <header class="c-daily-insta__header">
        <h1 class="c-daily-insta__title">
            <a href="{{ story_url }}" class="c-daily-insta__title__link"
                data-ga-category="Story Bar"
                data-ga-label="Instagram of the Day">
                Instagram of the Day
            </a>
        </h1>
    </header>
    <figure class="c-daily-insta__body  c-figure--img  c-figure">
        <div class="c-daily-insta__img  c-figure__content">
            <a href="{{ item.get_embed_url }}" target="_blank">
                {{ item.get_featured_image_html( '1024-16x9' ) }}
            </a>
        </div>
        <figcaption class="c-daily-insta__caption  c-figure__text  c-panel__inner">
            <h1 class="c-daily-insta__caption__text  c-daily-insta__body__text  c-figure__text__caption">
                {% if item.get_embed_caption %}
                    {{ item.get_embed_caption }}
                {% else %}
                    {{ item.get_the_title }}
                {% endif %}
            </h1>
            <h2 class="c-daily-insta__author  c-daily-insta__body__text">
                <a href="{{ item.get_embed_url }}" target="_blank">@{{ item.get_embed_author_name }}</a>
            </h2>
        </figcaption>
    </figure>
</article>
{% endspaceless %}
