{% spaceless %}
{% set element_figure = if_email('div', 'figure')  %}
{% set element_figure_caption = if_email('div', 'figcaption')  %}
{% set element_figure_wrap = element_figure_wrap|default( 'div' )  %}

<{{ element_figure }} {{ id }} class="c-figure  c-figure--{{ type }}  wp-caption  {{ align }}  {{ classes }}">

    <{{ element_figure_wrap }} {{ style }} class="{{ wrap_classes }} c-figure__content-wrap">

        {% if url %}
        <a
            href="{{ url }}"
            class="c-figure__link"
            data-ga-category="{{ ga_category }}"
            data-ga-label="{{ ga_label }}"
        >
        {% endif %}

            {{ content }}

        {% if url %}
        </a>
        {% endif %}

    </{{ element_figure_wrap }}>

    {% if caption_html or caption or credit %}
    <{{ element_figure_caption }} {{ capid }} class="c-figure__text  wp-caption-text {{ figcaption_classes }}">

        {% if caption_html %}
            {{ caption_html }}
        {% else %}
            {% if caption %}
            <h1 class="c-figure__text__caption">{{ caption }}</h1>
            {% endif %}

            {% if credit %}
            <cite class="c-figure__text__credit">

                {% if credit_link %}
                    <a
                        href="{{ credit_link }}"
                        target="_blank"
                        rel="noopener"
                        data-ga-category="post-content"
                        data-ga-label="image-credit"
                    >{{ credit }}</a>
                {% else %}
                    {{ credit }}
                {% endif %}

            </cite>
            {% endif %}
        {% endif %}

    </{{ element_figure_caption }}>
    {% endif %}

</{{ element_figure }}>
{% endspaceless %}
