{% spaceless %}
<figure {{ id }} class="c-figure  c-figure--{{ type }}  wp-caption  {{ align }}  {{ classes }}" {{ fias_presentation }}>

    {% if style %}
    <div {{ style }} class="{{ wrap_classes }} c-figure__content-wrap">
    {% endif %}

    {% if element_wrap %}
    <{{ element_wrap }} class="column-width">
    {% endif %}

        {% if url %}
        <a href="{{ url }}" target="_blank" class="c-figure__link" data-ga-category="Figure" data-ga-label="Link|{{ type }}">
        {% endif %}

            {{ content }}

        {% if url %}
        </a>
        {% endif %}

    {% if element_wrap %}
    </{{ element_wrap }}>
    {% endif %}

    {% if style %}
    </div>
    {% endif %}

    {% if caption or credit %}
    <figcaption {{ capid }} class="c-figure__text  wp-caption-text">

        {% if caption %}
        <h1 class="c-figure__text__caption">{{ caption }}</h1>
        {% endif %}

        {% if credit %}
        <cite class="c-figure__text__credit">

            {% if credit_link %}
            <a href="{{ credit_link }}" target="_blank" data-ga-category="Figure" data-ga-label="Credit|{{ type }}">
            {% endif %}

            {{ credit }}

            {% if credit_link %}
            </a>
            {% endif %}

        </cite>
        {% endif %}

    </figcaption>
    {% endif %}

</figure>
{% endspaceless %}
