{% set cluster = false %}
{% if item.is_entity and item.has_story %}
    {% set cluster = item.get_primary_story %}
{% elseif item.is_cluster %}
    {% set cluster = item %}
{% endif %}

{% if cluster %}
{% set fail_help_text = 'Trouble subscribing to ' ~ cluster.get_the_title %}

<div class="js-follow-this-form-container">
<form method="POST" action="{{ site.url }}/subscribe-to-email-list/"
    id="follow"
    class="c-follow-this js-follow-this-form"
    data-ga-category="Submitted Form"
    data-ga-label="Follow Cluster|{{ cluster.get_type_name }}|{{ cluster.get_the_title }}">

    <hr class="c-follow-this__accent o-rule--accent">

    <label class="c-follow-this__label" for="follow-this-email">
        We&rsquo;ll send you important developments about <strong class="c-follow-this__cluster-title">{{ cluster.get_the_title }}</strong> as they happen.
    </label>

    <input type="hidden" name="cluster-id" value="{{ cluster.get_id }}" />
    {% include 'partials/email-forms/form-honeypot.twig' %}

    <input type="email" name="email_address" required
        id="follow-this-email"
        class="c-follow-this__email js-follow-this-email"
        value="{{ current_user.get_email_address }}"
        placeholder="{{ site.emails.placeholder }}">

    <button class="js-form-submit c-follow-this__submit" type="submit" name="Follow">
        <span>Follow This</span>
    </button>

    <div class="c-follow-this__loader">{% include 'partials/loading.twig' %}</div>

    <div class="c-follow-this__success-message js-success-message">
        <hr class="c-follow-this__accent o-rule--accent">
        <h3 class="js-error-message-text">Please check your email to confirm your subscription to &ldquo;{{ cluster.get_the_title }}&rdquo;</h3>
        <p>You'll get emails from {{ site.name }} as this {{ cluster.get_type_name|lower }} develops. You can unsubscribe in every email.</p>
    </div>

    <div class="c-follow-this__fail-message js-fail-message">
        <hr class="c-follow-this__accent o-rule--accent">
        <h3 class="js-error-message-text">Oops! Something went wrong.</h3>
        <p><a href="mailto:{{ site.emails.contact }}?subject={{ fail_help_text|url_encode }}">Having trouble? Email {{ site.emails.contact }}</a></p>
    </div>
</form>
</div>
{% endif %}
