{% spaceless %}
{% set stream = stream|default( false ) %}

{% set title = title|default( item.get_the_title ) %}
{% set url = url|default( item.get_the_permalink ) %}

{# No strict checking possible here so evaluate strings #}
{% set overview = overview|default( 'true' ) %}
{% if 'none' == url %}
{% set url = false %}
{% endif %}

{% set item_title_element = item_title_element|default( if_email('h4', 'h1')  ) %}

{% if item.get_type == 'link' %}
{% set link_atts = 'target="_blank"' %}
{% endif %}

{% if overview == 'true' %}
{% set item_title_classes = 'c-overview__title' ~ item_title_classes %}
{% set link_classes = 'c-overview__link' ~ link_classes %}
{% endif %}

<{{ item_title_element }} class="{{ item_title_classes }}">

    {% if url %}
        <a href="{{ url }}" class="{{ link_classes }}" {{ link_atts }}
            data-ga-category="{{ gaCategory }}"
            data-ga-label="Title|{{ title }}|Type: {{ item.get_type_name|capitalize }}">
    {% endif %}

            {{ title }}

    {% if url %}
        </a>
    {% endif %}

</{{ item_title_element }}>

{% endspaceless %}
