{% set overline_title_element = overline_title_element|default( 'h2' ) %}
{% set ga_category_singular = ga_category_singular|default( 'Single ' ~ type_name ) %}

{% if overline %}
    <{{ overline_title_element }} class="single-header__overline c-heading--overline">
        {% if overline_url %}
            <a
                href="{{ overline_url|esc_url }}"
                {% if ga_category_singular %}
                data-ga-category="{{ ga_category_singular|esc_attr }}"
                data-ga-label="Overline|{{ overline|esc_attr }}"
                {% endif %}
            >
                {{ overline }}
            </a>
        {% else %}
            {{ overline }}
        {% endif %}

        {% if overline_follow %}
        <a href="#follow" class="c-heading__follow-this js-follow-this-anchor">Follow This</a>
        {% endif %}
    </{{ overline_title_element }}>
{% endif %}
