{% if item.get_powered_by %}

<div class="c-powered-by--{{ item.get_powered_by }}  c-powered-by  js-powered-by" data-powered-by="{{ item.get_powered_by }}">
    <a href="{{ item.get_powered_by_url }}" class="inner">
        <h4 class="c-powered-by__power  o-icon-text--rev">
            {{ __( 'Powered by', 'pedestal' )|escape }}
            <span class="hidden-for-small-up  js-powered-by-name">{{ item.get_powered_by_name }}</span>
        </h4>
        <i class="c-powered-by__logo  o-icon-text__icon"></i>
    </a>
</div>

{% endif %}
