{% set container_classes = "c-search" %}
{% if sitewide %}
    {% set container_classes = "c-search c-search--sitewide" %}
{% endif %}

<div class="{{ container_classes }}">
    <form class="c-search__form row js-search-form" action="{{ site.url }}" role="search">

        <div class="c-search__input js-search-input">
            <button type="submit" class="btn btn--no-border c-search__icon--search c-search__icon">
                {{ ped_icon( 'search' ) }}
                <span class="show-for-sr">submit</span>
            </button>

            <input type="text" class="c-search__field  js-search-field" name="s" id="the-search-field" placeholder="Enter search term" value="{{ search_query }}" tabindex="1" />

            <a class="c-search__icon--close  c-search__icon  js-search-icon-close" href="#">
                {{ ped_icon( 'close' ) }}
                <span class="show-for-sr">close search</span>
            </a>
        </div>

        {% include 'partials/loading.twig' %}

    </form>
</div>
