{% extends 'forms/signup-daily.twig' %}


{% block icon %}
{{ ped_icon( 'envelope-slant' ) }}
{% endblock icon %}


{% block title %}
Get <strong>{{ site.emails.daily_newsletter_name }}</strong><br />
every day in your inbox
{% endblock title %}


{% block details %}
<ul id="{{ id_description|esc_attr }}" class="signup-email__details">
    <li tabindex="0" class="js-modal-focus">Top news highlights and can't-miss {{ site.city.nickname }} stories</li>
    <li>Upcoming events and activities in your area for you and your family</li>
    {% if latest_newsletter %}
    <li>{{ latest_newsletter_text }}</li>
    {% endif %}
</ul>
{% endblock details %}
