{% set gaCategory = 'Social Icon - ' ~ location|capitalize %}
{% if location == 'header' or location == 'footer' %}
<li class="social-icon {% if location == 'header' %} show-for-medium-up {% endif %}">
    <a href="#subscribe-to-newsletter" data-reveal-id="subscribe-to-newsletter" data-ga-category="{{gaCategory}}" data-ga-label="Email">
        {{ ped_icon('envelope-o') }}
    </a>
</li>
{% endif %}

<li class="social-icon {% if location == 'header' %} show-for-medium-up {% endif %}">
    <a href="{{ site.social.instagram_url }}" target="_blank" data-ga-category="{{gaCategory}}" data-ga-label="Instagram">
        {{ ped_icon('instagram') }}
    </a>
</li>
<li class="social-icon {% if location == 'header' %} show-for-medium-up {% endif %}">
    <a href="{{ site.social.twitter_url }}" target="_blank" data-ga-category="{{gaCategory}}" data-ga-label="Twitter">
        {{ ped_icon('twitter') }}
    </a>
</li>
<li class="social-icon {% if location == 'header' %} last show-for-medium-up{% endif %}">
    <a href="{{ site.social.facebook_url }}" target="_blank" data-ga-category="{{gaCategory}}" data-ga-label="Facebook">
        {{ ped_icon('facebook') }}
    </a>
</li>

{% if location == 'header' %}
<li class="more first">
    <label for="the-search-field" class="js-sitewide-search-icon sitewide-search-icon" tabindex="0" data-ga-category="Search Icon - {{location}}" data-ga-label="Search">
        {{ ped_icon('search') }}
    </label>
</li>
<li class="more">
    <a id="off-canvas-burger" class="right-off-canvas-toggle" href="#" data-ga-category="Menu - Main Navigation" data-ga-label="Off-Canvas Menu">
        {{ ped_icon('bars') }}
    </a>
</li>
{% endif %}
