{% extends 'layouts/layout--content.twig' %}

{% block content %}

    <article id="page" class="row">

        <div class="e404-main large-6 large-push-6 columns">

            <figure class="e404-quote">
                <blockquote class="e404-quote__body e404-text--primary">{{ quote.body }}</blockquote>
                <figcaption class="e404-quote__caption">&mdash;{{ quote.author }}</figcaption>
            </figure>

            {% include 'partials/404-message.twig' %}
            {% include 'partials/404-nav.twig' %}

        </div>

        <div class="e404-art large-6 large-pull-6 columns">

            <figure class="e404-young-penn">
                <img src="{{ young_penn.src }}" class="e404-young-penn__img" title="{{ young_penn.description }}" alt="{{ young_penn.description }}" />
                <figcaption class="e404-young-penn__caption">
                    <p>
                        <span class="description">{{ young_penn.description }}</span><br />
                        <span class="source">{{ young_penn.source }}</span>
                    </p>
                </figcaption>
            </figure>

        </div>
    </article>

{% endblock %}
