{% spaceless %}
{% set icon_color = '#9f9f9f' %}

<!--[if mso]>
<table {{ email_table_atts }} width="{{ email_container_width_inner }}">
<tr>
<td valign="middle" width="{{ email_container_width_inner }}">
<![endif]-->
<table class="email-entity-meta" {{ email_table_atts }}>
    <tr>
        <td valign="middle" class="email-entity-meta__img email-entity-meta__item">
            {% if 'embed' == item.get_type %}
                <a href="{{ item.get_embed_url }}">
                    {{ ped_icon( item.get_source_icon_name, 'single-entity-meta__img__icon', icon_color, '40' ) }}
                </a>
            {% elseif 'link' == item.get_type %}
                <a href="{{ item.get_the_permalink }}">
                    {{ ped_icon( item.get_source_icon_name, 'single-entity-meta__img__icon', icon_color, '40' ) }}
                </a>
            {% else %}
                {{ item.get_meta_info_img( 40 ) }}
            {% endif %}
        </td>
        <td valign="middle" class="email-entity-meta__text email-entity-meta__item">
            <table {{ email_table_atts }}>
                <tr>
                    <td class="email-entity-meta__source-name">
                        {% if item.get_type == 'link' %}
                            <a href="{{ item.get_the_permalink }}">
                                {{ item.get_source.get_name }}
                            </a>
                        {% elseif item.get_type == 'event' %}
                            <a href="{{ item.get_the_permalink }}">
                                {{ __( 'Event', 'pedestal' ) }}
                            </a>
                        {% elseif item.get_type == 'embed' %}
                            <a href="{{ item.get_embed_url }}">
                                {{ item.get_source }}
                            </a>
                        {% else %}
                            {% include 'partials/byline.twig' %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="email-entity-meta__timestamp">
                        {{ item.get_post_date( site.date_format ) }}
                        &nbsp;&middot;&nbsp;
                        {{ item.get_post_date( site.time_format ) }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if mso]>
</td>
</tr>
</table>
<![endif]-->

{% endspaceless %}
