{% spaceless %}
{% set icon_color = '#9f9f9f' %}

<!--[if mso]>
<table {{ email_table_atts }} width="{{ email_container_width_inner }}">
<tr>
<td valign="middle" width="{{ email_container_width_inner }}">
<![endif]-->
<table class="email-meta-info" {{ email_table_atts }}>
    <tr>
        <td valign="middle" class="email-meta-info__img email-meta-info__item">
            {% if 'embed' == item.get_type %}
                <a href="{{ item.get_embed_url }}">
                    {{ ped_icon( item.get_source_icon_name, 'c-meta-info__img__icon', icon_color, '40' ) }}
                </a>
            {% elseif 'link' == item.get_type %}
                <a href="{{ item.get_the_permalink }}">
                    {{ ped_icon( item.get_source_icon_name, 'c-meta-info__img__icon', icon_color, '40' ) }}
                </a>
            {% else %}
                {{ item.get_meta_info_img( 40 ) }}
            {% endif %}
        </td>
        <td valign="middle" class="email-meta-info__text email-meta-info__item">
            <table {{ email_table_atts }}>
                <tr>
                    <td class="email-meta-info__source-name">
                        {% include [
                            'partials/meta-info/source-name-'  ~ item.get_type ~ '.twig',
                            'partials/meta-info/source-name.twig'
                        ] %}
                    </td>
                </tr>
                <tr>
                    <td class="email-meta-info__timestamp">
                        {{ item.get_post_date( site.date_format ) }}
                        &nbsp;&middot;&nbsp;
                        {{ item.get_post_date( site.time_format ) }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if mso]>
</td>
</tr>
</table>
<![endif]-->

{% endspaceless %}
