<table class="email-share-icons" {{ email_table_atts }} align="center">
    <thead>
        <tr>
            <th class="cta" colspan="4"><h2 class="cta-heading">Share this Email</h2></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a class="social-icon" target="_blank" href="{{ item.get_facebook_share_link }}">
                    <img src="{{ theme.parent.link }}/assets/images/social/png/circle_48x48_facebook.png"
                        alt="Share on Facebook" title="Share on Facebook" height="48px" width="48px" border="0" />
                </a>
            </td><td>
                <a class="social-icon" target="_blank" href="{{ item.get_twitter_share_link }}">
                    <img src="{{ theme.parent.link }}/assets/images/social/png/circle_48x48_twitter.png"
                        alt="Post to Twitter" title="Post to Twitter" height="48px" width="48px" border="0" />
                </a>
            </td><td>
                <a class="social-icon" target="_blank" href="{{ item.get_linkedin_share_link }}">
                    <img src="{{ theme.parent.link }}/assets/images/social/png/circle_48x48_linkedin.png"
                        alt="Share on LinkedIn" title="Share on LinkedIn" height="48px" width="48px" border="0" />
                </a>
            </td>
        </tr>
    </tbody>
</table>
