<title>{{ item.get_title }}</title>
<link>{{ item.get_permalink|e }}</link>
<pubDate>{{ item.get_post_date_gmt('r') }}</pubDate>
<dc:creator><![CDATA[{{ item.get_source_name|e }}]]></dc:creator>
<guid isPermaLink="false">{{ item.get_guid }}</guid>

<description><![CDATA[{{ item.get_excerpt }}]]></description>

{{ item.get_featured_image_enclosure }}
{{ item.get_featured_image_mrss_markup }}

{% if item.get_the_content_rss %}
<content:encoded><![CDATA[{{ item.get_the_content_rss }}]]></content:encoded>
{% else %}
<content:encoded><![CDATA[{{ item.get_excerpt }}]]></content:encoded>
{% endif %}
