<article class="{{ macros.get_stream_item_classes( 'pedalized' ) }}  {{ item.css_classes }}"
         {{ item.get_the_data_atts }}>
    <a id="{{ item.get_name }}"></a>
    <div class="entity__inner  c-stream__item__inner  o-media  o-media--responsive">

        <div class="c-stream__item__img  o-media__img">
            {% include 'partials/stream/factcheck-img.twig' %}
        </div>

        <div class="c-stream__item__body  o-media__body">
            {% include 'partials/item-title.twig' %}

            <div class="show-for-medium-up">
                {% include 'partials/meta-info/meta-info-entity.twig' %}
            </div>

            {% if item.get_excerpt %}
            <div class="entity-excerpt js-entity-excerpt">
                {{ item.get_the_excerpt }}
            </div>
            {% endif %}
        </div>

    </div>

    <div class="show-for-small-only">
        {% include 'partials/meta-info/meta-info-entity.twig' %}
    </div>

</article>
