{% extends 'layouts/layout--content.twig' %}
{% import "macros/macros.twig" as macros %}

{% block content %}

{% if is_newsletter %}
    {% set signup_email_type = 'daily' %}
{% elseif is_cluster %}
    {% set signup_email_type = 'cluster' %}
{% endif %}

<div id="subscribe-to-newsletter-page" class="subscription-confirmation-page">
    <h3 class="form-heading js-form-heading u-text-align--center">The confirmation link appears to be bad. Please sign up again.</h3>

    {% if provided_list_ids and list_id_str %}
    <div class="signup-email--{{ signup_email_type }} signup-email">
        {% set gaLocation = 'Page|Fail|List IDs:{{ list_id_str }}' %}
        {% set help_text %}
            <a href="mailto:{{ site.emails.contact }}?subject={{ help_text|url_encode }}">Having trouble? Email {{ site.emails.contact }}</a>
        {% endset %}

        {% if is_newsletter %}
            {% include 'partials/signup-daily.twig' %}
        {% elseif is_cluster %}
            {% include 'partials/signup-cluster.twig' %}
        {% endif %}
    </div>
    {% endif %}

</div>

{% endblock %}
