{# Normally we would hook into a function to generate a header but one doesn't exist yet #}
{# So for the styleguide we will just make our own #}

<article class="c-main__content">
    <header class="c-main__header js-main-header single-header">

        {% if title %}
            <h1 class="single-header__title">
                {{ title }}
            </h1>
        {% endif %}

        {% if description %}
            <div class="single-header__description">
                {{ description }}
            </div>
        {% endif %}

        {% if feat_image_url %}
            <figure id="figure_07a51b60_87061" aria-labelledby="figcaption_07a51b60_87061" class="c-figure  c-figure--img  wp-caption c-main__lead-img" data-mode="aspect-fit">
                <div class=" c-figure__content-wrap  column-width">
                    <a href="{{ permalink|esc_url }}" class="c-figure__link" data-ga-category="Figure" data-ga-label="Linkimg">
                        <img
                            src="{{ feat_image_url|esc_url }}"
                            class="attachment-1024-16x9"
                            alt="Alt text for the featured image"
                        >
                    </a>
                </div>

                {% if feat_image_caption %}
                    <figcaption id="figcaption_07a51b60_87061" class="c-figure__text  wp-caption-text ">
                        <h1 class="c-figure__text__caption">{{ feat_image_caption }}</h1>
                        <cite class="c-figure__text__credit">{{ feat_image_credit }}</cite>
                    </figcaption>
                {% endif %}

            </figure>
        {% endif %}

        {% if author_count > 2 %}
            <div class="single-entity-meta--always-stacked single-header__meta single-entity-meta--article single-entity-meta">
        {% else %}
            <div class="single-header__meta single-entity-meta--article single-entity-meta">
        {% endif %}

        <div class="single-entity-meta__img--standalone  single-entity-meta__img  single-entity-meta__item">
            <a href="{{ author_link|esc_url }}" data-ga-category="Author" data-ga-label="Image|Placeholder">
                {{ author_image }}
            </a>
        </div>

        <div class="single-entity-meta__stack  single-entity-meta__item">

            <div class="single-entity-meta__name  single-entity-meta__stack__item ">
                {{ author }}
            </div>

            <div class="single-entity-meta__timestamp  single-entity-meta__stack__item  single-entity-meta__stack__mover">
                <time class="single-entity-meta__timestamp__inner" datetime="{{ machine_time|esc_attr }}">
                    {{ date_time }}
                </time>
            </div>
        </div>

        <div class="single-entity-meta__timestamp  single-entity-meta__item  single-entity-meta__mover">
            <time class="single-entity-meta__timestamp__inner" datetime="{{ machine_time|esc_attr }}">
                {{ date_time }}
            </time>
        </div>

    </div>
    </header>
</article>
