{% set event_details = {
    'What': item.get_what,
    'Where': item.get_where,
    'When': item.get_when,
    'How Much': item.get_cost
} %}

<tr>
    <td class="email-event email-stream-item email-stream-item--event" bgcolor="{{ email_background_color }}">
        <table {{ email_table_atts }} width="100%">

            <tr class="email-event__heading">
                <td>
                    {% include 'emails/messages/partials/item-title.twig' %}
                </td>
            </tr>

            {{ ped_slot( 'newsletter_item' ) }}

            <tr class="email-event__details">
                <td>
                    <table {{ email_table_atts }} width="100%">
                        {% for label, content in event_details %}
                            {% if content %}

                                <tr class="email-event__detail">
                                    <td>
                                        <table {{ email_table_atts }} width="100%">
                                            <tr>
                                                <td>
                                                    <h2 class="email-event__detail__label email-heading--minor">
                                                        {{ label }}
                                                    </h2>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="email-event__detail__content">
                                                    {{ content }}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                            {% endif %}
                        {% endfor %}
                    </table>
                </td>
            </tr>

            <tr class="email-event__btn">
                <td>
                    {% include 'emails/messages/partials/button.twig' with {
                        btn_text: item.get_details_link_text,
                        btn_url: item.get_details_link_url
                    } %}
                </td>
            </tr>

        </table>
    </td>
</tr>
