{% import _self as input_macros %}

{% macro string( key, val ) %}
    <input type="text" value="{{ val|esc_attr }}" id="{{ key|esc_attr }}" name="{{ key|esc_attr }}">
{% endmacro %}

{% macro integer( key, val ) %}
    <input type="number" value="{{ val|esc_attr }}" id="{{ key|esc_attr }}" name="{{ key|esc_attr }}">
{% endmacro %}

{% macro boolean( key, val ) %}
    <select id="{{ key|esc_attr }}" name="{{ key|esc_attr }}">
        <option value="true" {{ selected( val, true ) }}>true</option>
        <option value="false" {{ selected( val, false ) }}>false</option>
    </select>
{% endmacro %}

{% extends 'layouts/layout--content.twig' %}

{% block head %}
{# Custom styles for this page #}
<style>
.container {
    display: flex;
    flex: 1;
}
#status code {
    font-weight: bold;
}
.the-form {
    width: 680px;
    margin-right: 48px;
}
.the-form div {
    display: flex;
    align-items: baseline;
    padding: 10px 25px;
}
.the-form div:nth-of-type(2n) {
    background-color: #efefef;
}
.the-form label {
    cursor: pointer;
    width: 60%;
}
.the-form input,
.the-form select {
    width: 45%;
}
</style>
{% endblock %}

{% block content %}
<h1>Subscriber Cookie Tool</h1>
<p id="status">&nbsp;</p>

<select id="target-audiences">
    <option value="-1">Set the cookie for a specific target audience</option>
    <option value="unidentified">Unidentified</option>
    <option value="subscriber">Subscriber</option>
    <option value="donor">Donor</option>
    <option value="member">Member</option>
</select>

<div class="container">
    <form class="the-form">
        {% for data in subscriber_data %}
        <div>
            <label for="{{ data.name|esc_attr }}">{{ data.name }}</label>
            {% if data.type == 'integer' %}
                {{ input_macros.integer( data.name, data.value ) }}
            {% elseif data.type == 'boolean'%}
                {{ input_macros.boolean( data.name, data.value ) }}
            {% else %}
                {{ input_macros.string( data.name, data.value ) }}
            {% endif %}
        </div>
        {% endfor %}
    </form>
    <xmp id="raw-data-output"></xmp>
</div>
{% endblock %}
