<div class="c-whos-next-item__person">
    <h1 class="c-whos-next-item__person__name">{{ person.get_the_title }}</h1>

    {% if person.get_known_for %}
    <div class="c-whos-next-item__person__role">
        <i class="c-whos-next-item__person__icon  fa-briefcase  fa-fw  fa"></i>
        <span class="c-whos-next-item__person__text">{{ person.get_known_for }}</span>
    </div>
    {% endif %}

    {% if person.get_age %}
    <div class="c-whos-next-item__person__age">
        <i class="c-whos-next-item__person__icon  fa-birthday-cake  fa-fw  fa"></i>
        <span class="c-whos-next-item__person__text">{{ person.get_age }} years old</span>
    </div>
    {% endif %}

    {% if person.get_twitter_handle %}
    <div class="c-whos-next-item__person__twitter">
        <i class="c-whos-next-item__person__icon  fa-twitter  fa-fw  fa"></i>

        <a href="{{ person.get_twitter_profile_url }}"
            title="@{{ person.get_twitter_handle }} on twitter"
            class="c-whos-next-item__person__text">

            @{{ person.get_twitter_handle }}

        </a>

    </div>
    {% endif %}

    {% if person.get_instagram_handle %}
    <div class="c-whos-next-item__person__instagram">
        <i class="c-whos-next-item__person__icon  fa-instagram  fa-fw  fa"></i>

        <a href="{{ person.get_instagram_url }}"
            title="@{{ person.get_instagram_handle }} on Instagram"
            class="c-whos-next-item__person__text">

            @{{ person.get_instagram_handle }}

        </a>

    </div>
    {% endif %}

</div>
