<h1>{{ person.get_the_title }}</h1>

<p>
    {% if person.get_known_for %}
    <strong>Known For:</strong>
    {{ person.get_known_for }}
    <br />
    {% endif %}

    {% if person.get_age %}
    <strong>Age:</strong>
    {{ person.get_age }} years old
    <br />
    {% endif %}

    {% if person.get_twitter_handle %}
    <strong>Twitter:</strong>
    <a href="{{ person.get_twitter_profile_url }}"
        title="@{{ person.get_twitter_handle }} on twitter"
        data-ga-category="Person"
        data-ga-label="Twitter|@{{ person.get_twitter_handle }}|{{ person.get_the_title }}">
            @{{ person.get_twitter_handle }}
    </a>
    {% endif %}

    {% if person.get_instagram_handle %}
    <strong>Instagram:</strong>
    <a href="{{ person.get_instagram_url }}"
        title="@{{ person.get_instagram_handle }} on Instagram"
        data-ga-category="Person"
        data-ga-label="Instagram|@{{ person.get_instagram_handle }}|{{ person.get_the_title }}">
            @{{ person.get_instagram_handle }}
    </a>
    {% endif %}

    {% if person.get_linkedin_url %}
    <strong>LinkedIn:</strong>
    <a href="{{ person.get_linkedin_url }}"
        title="{{ person.get_the_title }} on LinkedIn"
        data-ga-category="Person"
        data-ga-label="LinkedIn|{{ person.get_the_title }}">
            {{ person.get_the_title }} on LinkedIn
    </a>
    {% endif %}
</p>
