{% extends "emails/messages/base-email.twig" %}

{% set show_content_header = false %}

{% block content %}

{{ ped_slot( 'lead' ) }}

{% if item.get_instagram_of_the_day %}
<tr>
    <td class="email-daily-insta">
        <table {{ email_table_atts }} width="100%">
            {{ item.get_instagram_of_the_day }}
        </table>
    </td>
</tr>
{% endif %}

{% if item.get_items %}
    {% set stream = true %}

    {% set first_heading = true %}
    {% for item in item.get_items %}

        {% if 'post' == item.type %}

            {% set newsletter_item = item %}

            {% include [
                'emails/messages/partials/stream/' ~ item.post.get_type ~ '.twig',
                'emails/messages/partials/stream/entity.twig'
            ] with {
                item: item.post,
                body_text: newsletter_item.description,
                heading_text: newsletter_item.title,
                heading_url: newsletter_item.url,
                type_class: 'email-stream-item--' ~ newsletter_item.post.get_type
            } %}

        {% elseif 'heading' == item.type %}
            {% if first_heading %}
                {% if ped_slot( 'newsletter_promoted_event' ) %}
                    <tr>
                        <td class="email-stream-item email-stream-item--heading">
                            <h4 class="email-heading--title">Sponsored Event</h4>
                        </td>
                    </tr>
                    {{ ped_slot( 'newsletter_promoted_event' ) }}
                {% endif %}
                {% set first_heading = false %}
            {% endif %}

            <tr>
                <td class="email-stream-item email-stream-item--heading">
                    <h4 class="email-heading--title">{{ item.title }}</h4>
                </td>
            </tr>

        {% endif %}

    {% endfor %}

{% else %}
    {{ item.get_the_content }}
{% endif %}

{% endblock %}
