<article class="{{ macros.get_stream_item_classes( 'isolated' ) }}  {{ macros.is_pinned( _context, 'panel' ) }}  {{ macros.has_story_bar( _context ) }}  {{ item.css_classes }}"
         {{ macros.get_pinned_styles( _context, 'border' ) }}
         {{ item.get_the_data_atts }}>

    {% if item.get_story %}
        {{ macros.blox( _context, {}, 'story-bar' ) }}
    {% elseif item.is_pinned %}
        {% include 'partials/stream/panel-pin.twig' %}
    {% endif %}

    <div class="c-panel__inner  c-stream__item__inner  entity__inner  [ o-media  o-media--responsive ]">

        {% if item.has_featured_image %}
        <div class="c-stream__item__img  o-media__img">
            {% include 'partials/stream/item-img.twig' %}
        </div>
        {% endif %}

        <div class="c-stream__item__body  o-media__body">
            {% include 'partials/stream/item-title.twig' %}

            {% if item.get_excerpt %}
            <div class="entity-excerpt js-entity-excerpt">
                {{ item.get_the_excerpt }}
            </div>
            {% endif %}

            {% if 'embed' == item.get_type and 'twitter' == item.get_embed_type %}
                {{ item.get_embed_html }}
            {% endif %}
        </div>

    </div>
    {% include 'partials/meta-info/meta-bar-entity.twig' %}
</article>
