<article class="{{ macros.get_stream_item_classes( 'isolated' ) }}  {{ macros.is_pinned( _context, 'panel' ) }}  {{ macros.has_story_bar( _context ) }}  {{ item.css_classes }}"
         {{ macros.get_pinned_styles( _context, 'border' ) }}
         {{ item.get_the_data_atts }}>

    {% if item.get_story %}
        {{ macros.blox( _context, {}, 'story-bar' ) }}
    {% elseif item.is_pinned %}
        {% include 'partials/stream/panel-pin.twig' %}
    {% endif %}

    <div class="c-event  c-panel__inner  c-stream__item__inner  entity__inner  [ o-media  o-media--responsive ]">

        <div class="c-stream__item__body  o-media__body">
            <div class="c-event__title">
                {% include 'partials/stream/item-title.twig' %}
            </div>
            {% include 'partials/events/details.twig' %}
            {% include 'partials/events/export.twig' %}
        </div>

    </div>

</article>
