{% macro is_pinned( context, component = null ) %}
{% spaceless %}
    {% if context.item.is_pinned and not context.is_search %}
        {% if component %}
            c-{{ component }}--pinned
        {% else %}
            is-pinned
        {% endif %}
    {% endif %}
{% endspaceless %}
{% endmacro %}





{% macro get_pinned_styles( context, element ) %}
{% spaceless %}
    {% set story = context.item.get_story %}
    {% if context.item.is_pinned and story.has_story_branding and not context.is_search %}
        {% if 'border' == element %}
            style="border: 3px solid {{ story.get_story_bar_background_color }};"
        {% elseif 'pin' == element %}
            style="color: {{ story.get_story_bar_foreground_color }};"
        {% endif %}
    {% endif %}
{% endspaceless %}
{% endmacro %}





{% macro has_story_bar( context ) %}
{% spaceless %}
    {% if context.item.has_story() %}
        {% if not context.grouped %}
            has-story-bar
        {% endif %}
    {% endif %}
{% endspaceless %}
{% endmacro %}





{% macro get_stream_item_classes( stream_name ) %}
    {% spaceless %}
    {% set classes = 'c-stream__item  js-stream-item' %}

    {% if 'isolated' == stream_name %}
        {% set classes = 'c-panel' ~ '  ' ~ classes %}
    {% elseif 'ladder' == stream_name %}
        {% set classes = 'c-panel__inner' ~ '  ' ~ classes %}
    {% elseif 'pedalized' == stream_name %}
        {% set classes = 'o-rule  o-rule--pedal' ~ '  ' ~ classes %}
    {% endif %}

    {{ classes }}
    {% endspaceless %}
{% endmacro %}





{% macro blox( context, options, type ) %}
    {% set defaults = {
        'format': '',
        'blox_classes': '',
        'type_classes': '',
        'prefix': '',
        'suffix': '',
        'background': '',
        'title_element': 'h4',
        'title': '',
        'subtitle': '',
        'url': '',
        'size': '',
        'case': '',
        'expand': false,
        'offset': false
    } %}
    {% if options %}
        {% set options = defaults|merge( options ) %}
    {% else %}
        {% set options = defaults %}
    {% endif %}

    {% set el = 'c-blox' %}
    {% set js = 'js-blox' %}
    {% set item = context.item %}
    {% set el_classes = options.blox_classes %}
    {% set title_element = options.title_element %}
    {% set size = options.size %}
    {% set case = options.case %}
    {% set expand = options.expand %}
    {% set offset = options.offset %}


    {# Types #}
    {% if type %}
        {% set type_js_hook = 'js-' ~ type %}
        {% set type_class = el ~ '--' ~ type %}
        {% set type_classes = '%s  %s  %s'|format(
            type_class, type_js_hook, options.type_classes
        ) %}
    {% else %}
        {% set type_classes = '' %}
    {% endif %}


    {# Display Format #}
    {% if options.format %}
        {% set format = options.format %}
        {% set el_classes = el ~ '--' ~ format ~ '  ' ~ el_classes %}
        {% if 'header' == format %}
            {% set title_element = 'h2' %}
            {% set size = 'lg' %}
            {% set expand = true %}
        {% elseif 'cap' == format %}
            {% set expand = true %}
            {% set default_case = 'upper' %}
        {% endif %}
    {% endif %}


    {# Type: Story Bar #}
    {% if 'story-bar' == type %}
        {% if 'header' != format %}
            {% set default_case = 'upper' %}
        {% endif %}

        {# Content #}
        {% if item.is_entity and item.has_story and item.get_story.get_title %}
            {% set default_title = item.get_story.get_the_title %}
            {% set story_branding = item.get_story.get_story_branding %}
            {% set default_url = item.get_story.get_permalink %}
            {% if not context.grouped %}
                {% set offset = true %}
                {% set extra_classes = 'u-tt-upper' ~ extra_classes %}
            {% endif %}
        {% elseif not item.is_entity %}
            {% set story_branding = item.get_story_branding %}
            {% set default_title = item.get_the_title %}
            {% set default_url = item.get_permalink %}
            {% if item.schema %}
                {% set default_title = item.schema|replace( { '-': ' ' } )|capitalize %}
            {% endif %}
        {% endif %}

        {# Story Branding #}
        {% if item.is_story or item.has_story and story_branding %}
            {% set extra_classes = el ~ '--customized' ~ '  ' ~ extra_classes %}
            {% set inline_background_color = 'style="background-color: ' ~ story_branding['background_color'] ~ ';"' %}
            {% set inline_foreground_color = 'style="color: ' ~ story_branding['foreground_color'] ~ ';"' %}
            {% if story_branding['icon'] %}
                {% set icon_url = story_branding['icon'] %}
                {% if is_email %}
                    {% set icon_url = story_branding['fallback_icon'] %}
                {% endif %}
                {% set prefix = '<img src="' ~ icon_url ~ '" alt="' ~ title ~ '">' %}
            {% endif %}
        {% endif %}

        {# Pinned Items #}
        {% if item.is_pinned and context.is_home %}
        {% set suffix %}
            <div class="{{ type_class }}__pin">
                {% include 'partials/stream/panel-pin.twig' %}
            </div>
        {% endset %}
        {% endif %}
    {% endif %}

    {% set title = options.title|default( default_title ) %}
    {% set url = options.url|default( default_url ) %}
    {% set case = case|default( default_case ) %}

    {# Sizes #}
    {% if size in ['sm', 'md', 'lg', 'xlg'] %}
        {% set el_classes = el ~ '--' ~ size ~ '  ' ~ el_classes %}
    {% endif %}


    {# Background Colors #}
    {% if 'promo' == options.background %}
        {% set el_classes = el ~ '--promo' ~ '  ' ~ el_classes %}
    {% elseif 'lighter' == options.background %}
        {% set el_classes = el ~ '--lighter' ~ '  ' ~ el_classes %}
    {% endif %}


    {% if case and 'ignore' != case %}
        {% set el_classes = 'u-tt-' ~ case ~ '  ' ~ el_classes %}
    {% endif %}

    {% if expand %}
        {% set el_classes = el ~ '--expand' ~ '  ' ~ el_classes %}
    {% endif %}

    {% if offset %}
        {% set el_classes = el ~ '--offset' ~ '  ' ~ el_classes %}
    {% endif %}

    {% if options.subtitle %}
        {% set el_classes = el ~ '--has-subtitle' ~ '  ' ~ el_classes %}
    {% endif %}

    {% if title %}
    <div class="{{ type_classes }}  {{ el_classes }}  {{ el }}">
        <div class="{{ el }}__inner  u-cf" {{ inline_background_color }}>

            {% if options.prefix %}
            <div class="{{ el }}__prefix  {{ el }}__item">
                {{ options.prefix }}
            </div>
            {% endif %}

            {% if suffix %}
            <div class="{{ el }}__suffix  {{ el }}__item">
                {{ suffix }}
            </div>
            {% endif %}

            <{{ title_element }} class="{{ el }}__text  {{ el }}__item">
                <a href="{{ url }}" class="{{ el }}__text__link  {{ js }}-link" {{ inline_foreground_color }}>
                    <span class="{{ el }}__text__title  {{ el }}__text__item  {{ js }}-title">{{ title }}</span>
                    {% if options.subtitle %}
                    <span class="{{ el }}__text__subtitle  {{ el }}__text__item  {{ js }}-subtitle">{{ options.subtitle }}</span>
                    {% endif %}
                </a>
            </{{ title_element }}>

        </div>
    </div>
    {% endif %}

{% endmacro %}





{% macro nativo( name ) %}
    <div class="nativo-{{ name }}  js-nativo-{{ name }}"></div>
{% endmacro %}





{##
 # User Cards
 #}
{% macro user_card( context, user, options ) %}
    {% set defaults = {
        'img_size': 'thumbnail',
        'twitter': true,
        'format': 'compact',
        'float': true,
        'posts': false
    } %}
    {% if options %}
        {% set options = defaults|merge( options ) %}
    {% else %}
        {% set options = defaults %}
    {% endif %}


    {# Valid formats #}
    {% set valid_format = false %}
    {% set formats = [
        'compact',
        'extended',
        'grid'
    ] %}
    {% if options.format in formats %}
        {% set valid_format = true %}
    {% endif %}

    {# Valid image sizes #}
    {% set valid_img_size = false %}
    {% set img_sizes = [
        'thumbnail',
        'medium',
        'medium-square',
        'large'
    ] %}
    {% if options.img_size in img_sizes %}
        {% set valid_img_size = true %}
    {% endif %}


    {% set block_classes = '' %}
    {% set inner_classes = '' %}
    {% set name_classes = 'u-size-h4' %}
    {% set title_classes = 'u-size-h5' %}
    {% set img_classes = '' %}
    {% set bio_element = 'p' %}


    {% if user.get_email and valid_format and valid_img_size %}
        {% set type = options.format %}
        {% set name_element = 'h4' %}

        {% set name = user.get_display_name %}
        {% set email = user.get_public_email %}
        {% set author_url = user.get_permalink %}
        {% set user_title = user.get_title %}

        {% set img_size = options.img_size %}
        {% set img_classes = 'c-user-card__img  img--' ~ img_size ~ '  ' ~ img_classes %}
        {% set img = user.get_avatar( img_size ) %}

        {% set pagination = user.get_stream_pagination %}
        {% set is_first_page = user.get_stream.is_first_page %}
        {% set is_last_page = user.get_stream.is_last_page %}

        {% set site = context.site %}
        {% set items = context.items %}
        {% set macros = context.macros %}

        {% if 'compact' == options.format  %}
            {% set bio = user.get_short_bio %}
            {% set bio_class = 'c-user-card__bio--short' %}
        {% elseif 'extended' == options.format %}
            {% if user.get_extended_bio %}
                {% set bio = user.get_extended_bio %}
            {% else %}
                {% set bio = user.get_short_bio %}
            {% endif %}
            {% set bio_class = 'c-user-card__bio--extended' %}
            {% set bio_element = 'div' %}
            {% set name_classes = '' %}
            {% set user_title_classes = 'u-size-h3' %}
        {% endif %}

        {% if options.float %}
            {% set block_classes = 'o-media  o-media--responsive' %}
            {% if 'medium-square' == img_size %}
                {% set block_classes = 'o-media--large' ~ '  ' ~ block_classes %}
            {% endif %}
            {% set inner_classes = 'o-media__body' %}
            {% set img_classes = 'o-media__img' ~ '  ' ~ img_classes %}
        {% endif %}

        {% if options.twitter %}
            {% set twitter_handle = user.get_twitter_username %}
            {% set twitter_url = 'https://twitter.com/' ~ twitter_handle %}

            {% if twitter_handle %}
                {% set twitter_html %}
                    {% spaceless %}
                    <a href="{{ twitter_url }}" class="o-icon-text">
                        <i class="o-icon-text__icon fa fa-twitter"></i>
                        <span class="c-user-card__twitter__handle">@{{ twitter_handle }}</span>
                    </a>
                    {% endspaceless %}
                {% endset %}
            {% endif %}
        {% endif %}

        {% set email_html %}
            <a href="mailto:{{ email }}" class="o-icon-text">
                <i class="o-icon-text__icon fa fa-envelope"></i>
                <span itemprop="email">{{ email }}</span>
            </a>
        {% endset %}

        <section class="[ c-user-card  c-user-card--{{ type }} ]  {{ block_classes }}" itemscope itemtype="http://schema.org/Person">

            {% if img %}
            <a href="{{ author_url }}" class="{{ img_classes }}">
                {{ img }}
            </a>
            {% endif %}

            <div class="c-user-card__inner {{ inner_classes }}">

                <h1 class="c-user-card__name {{ name_classes }}">
                    <a href="{{ author_url }}" itemprop="author_url">
                        <span itemprop="name">{{ name }}</span>
                    </a>
                </h1>

                <h2 class="c-user-card__title {{ user_title_classes }}" itemprop="jobTitle">{{ user_title }}</h2>

                <hr class="c-user-card__rule  o-rule--slim">

                <div class="c-user-card__details">

                    <p class="c-user-card__email  c-user-card__details__item">
                        {{ email_html }}
                    </p>

                    {% if options.twitter and twitter_handle %}
                    <p class="c-user-card__twitter  c-user-card__details__item">
                        {{ twitter_html }}
                    </p>
                    {% endif %}
                </div>

                {% if bio and is_first_page %}
                <{{ bio_element }} class="c-user-card__bio lead {{ bio_class }}" itemprop="description">
                    {{ bio }}
                </{{ bio_element }}>
                {% endif %}

                {% if options.posts and items %}

                    <section class="c-user-card__entities  c-stream  c-stream--pedalized  js-stream">
                        <header class="c-stream__header">
                            <h1 class="c-stream__title  c-stream__header__item">Recent Articles</h1>
                            {% if pagination %}
                                <div class="c-stream__paged  c-stream__header__item">
                                    {{ macros.pagination( pagination, { 'show_nav': false } ) }}
                                </div>
                            {% endif %}
                            <hr class="c-stream__header__rule  o-rule" />
                        </header>

                        <div class="c-stream__items  js-stream-items">
                            {% for item in items %}
                                {% include [
                                    'partials/stream/pedalized/' ~ item.get_type ~ '.twig',
                                    'partials/stream/pedalized/entity.twig'
                                ] %}
                            {% endfor %}
                        </div>

                        {% if pagination or is_last_page %}
                            {% if is_last_page %}
                                {% set last_page_classes = 'o-rule--closure  o-rule' %}
                            {% endif %}
                            <footer class="c-stream__footer {{ last_page_classes }}">
                                {{ macros.pagination( pagination ) }}
                            </footer>
                        {% endif %}
                    </section>

                {% endif %}

            </div>

        </section>

    {% endif %}
{% endmacro %}





{% macro pagination( data, options ) %}
    {% if data %}

    {% set defaults = {
        'show_text': true,
        'show_nav': true
    } %}
    {% if options %}
        {% set options = defaults|merge( options ) %}
    {% else %}
        {% set options = defaults %}
    {% endif %}

    {% set url_prev_disabled = 'is-disabled  js-is-disabled' %}
    {% set url_next_disabled = 'is-disabled  js-is-disabled' %}

    {# Number of page buttons visible #}
    {% set num_pages_visible = data.page_numbers.smaller|length + data.page_numbers.larger|length + 1 %}
    {% if 2 == num_pages_visible %}
        {% set num_pages_visible_fraction = 'halves' %}
    {% elseif 3 == num_pages_visible %}
        {% set num_pages_visible_fraction = 'thirds' %}
    {% elseif 4 == num_pages_visible %}
        {% set num_pages_visible_fraction = 'fourths' %}
    {% elseif 5 == num_pages_visible %}
        {% set num_pages_visible_fraction = 'fifths' %}
    {% endif %}

    {# Previous #}
    {% if data.previous %}
        {% set url_prev = data.previous %}
        {% set url_prev_disabled = '' %}
    {% else %}
        {% set url_prev = '#' %}
    {% endif %}

    {# Next #}
    {% if data.next %}
        {% set url_next = data.next %}
        {% set url_next_disabled = '' %}
    {% else %}
        {% set url_next = '#' %}
    {% endif %}


    <div class="c-pagination  js-pagination  c-pagination--{{ num_pages_visible_fraction }}" aria-label="Pagination">

        {% if options.show_text %}
        <div class="c-pagination__text">
            Page <span class="c-pagination__text__paged">{{ data.pages_text.paged }}</span> of <span class="c-pagination__text__total">{{ data.pages_text.total }}</span>
        </div>
        {% endif %}

        {% if options.show_nav %}

        <div class="c-pagination__inner">

            <a href="{{ url_prev }}" class="c-pagination__dir--prev  c-pagination__dir  c-pagination__item {{ url_prev_disabled }}  js-pagination-item">
                <i class="c-pagination__dir__icon  fa  fa-angle-left"></i>
            </a>

            {% for num, url in data.page_numbers.smaller %}
                <a href="{{ url }}" class="c-pagination__num  c-pagination__num--smaller  c-pagination__item  js-pagination-item">
                    {{ num|replace({ 'p_': '' }) }}
                </a>
            {% endfor %}

            <a href="#" class="c-pagination__num  c-pagination__num--current  c-pagination__item  is-disabled  js-is-disabled  js-pagination-item">
                {{ data.page_numbers.current }}
            </a>

            {% for num, url in data.page_numbers.larger %}
                <a href="{{ url }}" class="c-pagination__num  c-pagination__num--larger  c-pagination__item  js-pagination-item">
                    {{ num|replace({ 'p_': '' }) }}
                </a>
            {% endfor %}

            <a href="{{ url_next }}" class="c-pagination__dir--next  c-pagination__dir  c-pagination__item  {{ url_next_disabled }}  js-pagination-item">
                <i class="c-pagination__dir__icon  fa  fa-angle-right"></i>
            </a>

        </div>

        {% endif %}

    </div>
    {% endif %}
{% endmacro %}





{% macro dfp_unit( id = '' ) %}
{% spaceless %}
    {% if id %}
    <div id='div-gpt-ad-{{ id }}-0'>
    <script type='text/javascript'>
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-{{ id }}-0'); });
    </script>
    </div>
    {% endif %}
{% endspaceless %}
{% endmacro %}
