{% macro user_card( context, user, options ) %}
    {% set defaults = {
        'img_size': 'thumbnail',
        'img_sizes': false,
        'img_srcset': false,
        'twitter': true,
        'format': 'compact',
        'float': true,
        'stream': false,
        'pagination': false,
        'show_closure_rule': false,
    } %}
    {% if options %}
        {% set options = defaults|merge( options ) %}
    {% else %}
        {% set options = defaults %}
    {% endif %}


    {# Valid formats #}
    {% set valid_format = false %}
    {% set formats = [
        'compact',
        'extended',
        'grid'
    ] %}
    {% if options.format in formats %}
        {% set valid_format = true %}
    {% endif %}


    {% set block_classes = '' %}
    {% set inner_classes = '' %}
    {% set user_name_classes = 'u-size-h4' %}
    {% set user_title_classes = 'u-size-h5' %}
    {% set img_classes = '' %}
    {% set bio_element = 'p' %}


    {% if user.get_email and valid_format %}
        {% set type = options.format %}
        {% set name_element = 'h4' %}

        {% set name = user.get_display_name %}
        {% set email = user.get_public_email %}
        {% set author_url = user.get_permalink %}
        {% set user_title = user.get_title %}

        {% set img_size = options.img_size %}
        {% set img_classes = 'c-user-card__img  img--' ~ img_size ~ '  ' ~ img_classes %}
        {% set img = user.get_avatar( img_size, {
            sizes: options.img_sizes,
            srcset: options.img_srcset
        } ) %}

        {% set pagination = false %}
        {% set is_first_page = user.get_stream.is_first_page %}
        {% set is_last_page = user.get_stream.is_last_page %}

        {% set site = context.site %}
        {% set items = context.items %}
        {% set macros = context.macros %}

        {% if 'compact' == options.format  %}
            {% set bio = user.get_short_bio %}
            {% set bio_class = 'c-user-card__bio--short' %}
        {% elseif 'extended' == options.format %}
            {% if user.get_extended_bio %}
                {% set bio = user.get_extended_bio %}
            {% else %}
                {% set bio = user.get_short_bio %}
            {% endif %}
            {% set bio_class = 'c-user-card__bio--extended' %}
            {% set bio_element = 'div' %}
            {% set user_name_classes = '' %}
            {% set user_title_classes = 'u-size-h3' %}
        {% endif %}

        {% if options.float %}
            {% set block_classes = 'o-media  o-media--responsive' %}
            {% if 'medium-square' == img_size %}
                {% set block_classes = 'o-media--large' ~ '  ' ~ block_classes %}
            {% endif %}
            {% set inner_classes = 'o-media__body' %}
            {% set img_classes = 'o-media__img' ~ '  ' ~ img_classes %}
        {% endif %}

        {% if options.twitter %}
            {% set twitter_handle = user.get_twitter_username %}
            {% set twitter_url = 'https://twitter.com/' ~ twitter_handle %}

            {% if twitter_handle %}
                {% set twitter_html %}
                    {% spaceless %}
                    <a href="{{ twitter_url }}" class="o-icon-text" data-ga-category="User" data-ga-label="Twitter|@{{ twitter_handle }}|{{ name }}">
                        {{ ped_icon( 'twitter', 'o-icon-text__icon' ) }}
                        <span class="c-user-card__twitter__handle">@{{ twitter_handle }}</span>
                    </a>
                    {% endspaceless %}
                {% endset %}
            {% endif %}
        {% endif %}

        {% set email_html %}
            <a href="mailto:{{ email }}" class="o-icon-text" data-ga-category="User" data-ga-label="Email|{{ email }}|{{ name }}">
                {{ ped_icon( 'envelope-o', 'o-icon-text__icon' ) }}
                <span itemprop="email">{{ email }}</span>
            </a>
        {% endset %}

        <section class="[ c-user-card  c-user-card--{{ type }} ]  {{ block_classes }}" itemscope itemtype="http://schema.org/Person">

            {% if img %}
            <a href="{{ author_url }}" class="{{ img_classes }}" data-ga-category="User" data-ga-label="Image|Author URL|{{ name }}">
                {{ img }}
            </a>
            {% endif %}

            <div class="c-user-card__inner {{ inner_classes }}">

                <h1 class="c-user-card__name  {{ user_name_classes }}">
                    <a href="{{ author_url }}" itemprop="author_url" data-ga-category="User" data-ga-label="Name|Author URL|{{ name }}">
                        <span itemprop="name">{{ name }}</span>
                    </a>
                </h1>

                <h2 class="c-user-card__title {{ user_title_classes }}" itemprop="jobTitle">{{ user_title }}</h2>

                <hr class="c-user-card__rule  hr--slim">

                <div class="c-user-card__details">

                    <p class="c-user-card__email  c-user-card__details__item">
                        {{ email_html }}
                    </p>

                    {% if options.twitter and twitter_handle %}
                    <p class="c-user-card__twitter  c-user-card__details__item">
                        {{ twitter_html }}
                    </p>
                    {% endif %}
                </div>

                {% if bio %}
                <{{ bio_element }} class="c-user-card__bio lead {{ bio_class }}" itemprop="description">
                    {{ bio }}
                </{{ bio_element }}>
                {% endif %}

                {% if options.stream %}

                    <section class="stream--author stream">
                        <header class="stream__header">
                            <h1 class="stream__header__title">Recent Articles</h1>
                            {{ options.upper_pagination }}
                            <hr class="hr" />
                        </header>
                        <div class="stream__items">
                            {{ options.stream }}
                        </div>
                    </section>

                    {% if options.show_closure_rule %}
                        <footer class="hr--closure  hr"></footer>
                    {% endif %}

                    {{ options.pagination }}
                {% endif %}

            </div>

        </section>

    {% endif %}
{% endmacro %}
