<div class="email-constrain">

    <div id="email-footer">

    {% if shareable %}
        {% include 'partials/emails/share.twig' %}
    {% endif %}

        <p>&copy; {{ now|date('Y') }} by Spirited Media. All rights reserved.</p>

    {% if email_type %}
        <p>You are receiving this because you signed up for <a href="{{ site.url }}">{{ site.name }}</a> {{ email_type }}.</p>
    {% endif %}

        <p>Our mailing address is:<br>

    {% if 'ac' == email_provider %}
        <p>%SENDER-INFO-SINGLELINE%</p>
    {% else %}
        <p>{% include 'partials/footer/mailing-address.twig' %}</p>
    {% endif %}

        <p>If you have any questions, email <a href="mailto:{{ site.emails.contact }}">{{ site.emails.contact }}</a>.</p>

    {% if 'ac' == email_provider %}
        <p><a href="%UNSUBSCRIBELINK%">Unsubscribe</a></p>
    {% endif %}

    </div>

</div>
