<table class="iconset--email">
    <thead>
        <tr>
            <th class="cta" colspan="3">&mdash; Follow {{ site.name }} &mdash;</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="{{ site.social.instagram_url }}" target="_blank">
                    <img src="{{ site.live_urls.theme_parent }}/assets/images/social/png/circle_96x96_instagram.png"
                        alt="Instagram" title="Instagram" height="48px" width="48px" />
                </a>
            </td><td>
                <a href="{{ site.social.twitter_url }}" target="_blank">
                    <img src="{{ site.live_urls.theme_parent }}/assets/images/social/png/circle_96x96_twitter.png"
                        alt="Twitter" title="Twitter" height="48px" width="48px" />
                </a>
            </td><td>
                <a href="{{ site.social.facebook_url }}" target="_blank">
                    <img src="{{ site.live_urls.theme_parent }}/assets/images/social/png/circle_96x96_facebook.png"
                        alt="Facebook" title="Facebook" height="48px" width="48px" />
                </a>
            </td>
        </tr>
    </tbody>
</table>
