{#
    Similiar to standard-stream-item.twig
     - Links need rel="nofollow" and target="_blank"
     - Overline has been re-arranged
     - Removed some values that aren't relevant
#}

{% if stream_index %}
    {% set stream_index = 'data-stream-index="{{ stream_index }}"' %}
{% endif %}

<article class="stream-item stream-item--{{ type }}" {{ stream_index }}>

    {% if overline %}
        <p class="stream-item__overline">
            {% if overline_url %}
                <a
                    href="{{ overline_url|e( 'url' ) }}"
                    rel="nofollow"
                    target="_blank"
                    class="stream-item__overline-link"
                    data-ga-category="Sponsored"
                    data-ga-label="Overline|{{ overline|e( 'html_attr' ) }}"
                >
                    {{ overline }}
                </a>
            {% else %}
                {{ overline }}
            {% endif %}
        </p>
    {% endif %}

    {% if thumbnail_image %}
        <figure class="stream-item__thumbnail-container">
            {% if permalink %}
                <a
                    href="{{ permalink|e( 'url' ) }}"
                    class="stream-item__thumbnail-image-link"
                    data-ga-category="Sponsored"
                    data-ga-label="Image|{{ title|e( 'html_attr' ) }}"
                >
                    {{ thumbnail_image }}
                </a>
            {% else %}
                {{ thumbnail_image }}
            {% endif %}
        </figure>
    {% endif %}

    {% if thumbnail_image %}
        <div class="stream-item__inner">
    {% endif %}

    <h1 class="stream-item__title">
        {% if permalink %}
            <a
                href="{{ permalink|e( 'url' ) }}"
                rel="nofollow"
                target="_blank"
                class="stream-item__title-link"
                data-ga-category="Sponsored"
                data-ga-label="Title|{{ title|e( 'html_attr' ) }}"
            >
                {{ title }}
            </a>
        {% else %}
            {{ title }}
        {% endif %}
    </h1>

    {% if thumbnail_image %}
        </div>
    {% endif %}

    {% if source_image or source_name %}
        <footer class="stream-item__footer {% if is_footer_compact %}stream-item__footer--compact{% endif %}">

            {# Setup some attributes #}
            {% if source_link %}
                {% set source_link_href = 'href="' ~ source_link ~ '"' %}
            {% endif %}

            {# Display stuff #}
            {% if source_image %}
                <a
                    {{ source_link_href }}
                    rel="nofollow"
                    target="_blank"
                    class="stream-item__source-image"
                    data-ga-category="Source|{{ type|e( 'html_attr' ) }}"
                    data-ga-label="Source Image|{{ source_name|e( 'html_attr' ) }}"
                >
                    {{ source_image }}
                </a>
            {% endif %}

            {% if source_name %}
                <a
                    {{ source_link_href }}
                    rel="nofollow"
                    target="_blank"
                    class="stream-item__source-name"
                    data-ga-category="Source|{{ type|e( 'html_attr' ) }}"
                    data-ga-label="Name|{{ source_name|e( 'html_attr' ) }}"
                >
                    {{ source_name }}
                </a>
            {% endif %}

        </footer>
    {% endif %}
</article>
