{% set el__item = if_email('div', 'article') %}
{% set el__heading = if_email('h4', 'h2')  %}
{% set el__item_title = if_email('h4', 'h1')  %}

<div class="c-stream__items  js-stream-items">

{% set first_heading = true %}
{% for item in item.get_items %}

    {% if 'post' == item.type %}

        {% include [
            'partials/stream/newsletter/' ~ item.post.get_type ~ '.twig',
            'partials/stream/newsletter/entity.twig'
        ] with {
          'item': item.post,
          'newsletter_item': item
        } %}

    {% elseif 'heading' == item.type %}
        {% if first_heading %}
            {% if ped_slot( 'newsletter_promoted_event' ) %}
                <{{ el__heading }} class="c-stream__heading  c-heading--overline">Sponsored Event</{{ el__heading }}>
                {{ ped_slot( 'newsletter_promoted_event' ) }}
            {% endif %}
            {% set first_heading = false %}
        {% endif %}

        <{{ el__heading }} class="c-stream__heading  c-heading--overline">{{ item.title }}</{{ el__heading }}>
    {% endif %}

{% endfor %}

</div>
