<{{ el__item }} class="{{ macros.get_stream_item_classes( 'standard', _context ) }}"
    {{ item.get_the_data_atts }}>

    <div class="c-event  c-overview  c-stream__item__inner">
        <div class="c-stream__item__body">
            <div class="c-event__title">
                {% include 'partials/item-title.twig' with {'item_title_element': el__item_title} %}
            </div>
            <div class="c-event__sponsorship">
                {{ ped_slot( 'newsletter_item' ) }}
            </div>
            {% include 'partials/events/details.twig' %}
            {% include 'partials/events/export.twig' %}
        </div>
    </div>
</{{ el__item }}>
