{% extends 'base.twig' %}

{% block the_body %}
    <main role="main" class="c-main columns large-8 js-main {{ main_classes }}">
        {% block content %}
        {% endblock %}
    </main>
{% endblock %}

{% block the_sidebar %}
    <aside class="rail js-rail columns large-4">
        <ul class="sidebar {{ sidebar_class }}">
            {% block sidebar %}
                {# The default sidebar if no sidebar is specified #}
            {% endblock %}

            <li class="widget tips-feedback">
                <p>Have a tip? Email us at <a href="mailto:{{ site.emails.tips|esc_attr }}" data-ga-category="sidebar" data-ga-label="link">{{ site.emails.tips }}</a></p>
            </li>

            {% if 'Billy Penn' == site.name %}
            <li class="widget tips-feedback">
                <p>See something wrong on the site? Please <a href="mailto:{{ site.emails.contact|esc_attr }}" data-ga-category="sidebar" data-ga-label="link">let us know</a>.</p>
            </li>
            {% endif %}
        </ul>
    </aside>
{% endblock %}
