<article class="{{ macros.get_stream_item_classes( 'imglist' ) }}">
    <a id="{{ item.get_name }}"></a>
    <div class="c-stream__item__inner  o-media">

        {% if show_thumbs %}
        <div class="c-stream__item__img  o-media__img">

            {% if item.has_featured_image %}
                {% set gaLabel = 'Thumbnail' %}
            {% else %}
                {% set gaLabel = 'Placeholder' %}
            {% endif %}

            <a href="{{ item.get_the_permalink }}" data-ga-category="{{ gaCategory }}" data-ga-label="Image|{{ gaLabel }}|{{ item.get_the_title }}">
                {% if item.has_featured_image %}
                {{ item.get_featured_image_html( 'thumbnail' ) }}
                {% else %}
                <i class="c-stream__item__img--placeholder"></i>
                {% endif %}
            </a>
        </div>
        {% endif %}

        <div class="c-stream__item__body  o-media__body">
            {% include 'partials/stream/item-title.twig' with { 'gaCategory': gaCategory } %}
        </div>

    </div>

</article>
