{% spaceless %}
<ol start="{{ num }}" class="c-footnotes">
    {% for item in items %}
        {% set id = post_id ~ '-' ~ num %}

        <li id="footnote-{{ id }}" class="c-footnotes__item">
            {{ item }}
            <a href="#fnref-{{ id }}" class="c-footnotes__return  js-footnote-link" data-ga-category="Footnote" data-ga-label="{{ num }}|Return">
                {{ ped_icon( 'level-down', 'c-footnotes__return__icon' ) }}
            </a>
        </li>

        {% set num = num + 1 %}
    {% endfor %}
</ol>
{% endspaceless %}
