<div class="c-event__details">

    <table class="c-event__details__inner">

        {% if item.get_what %}
        <tr>
            <th scope="row">What</th>
            <td>{{ item.get_what }}</td>
        </tr>
        {% endif %}

        <tr>
            <th scope="row">Where</th>
            <td>
                {{ macros.event_where( item ) }}
            </td>
        </tr>

        <tr>
            <th scope="row">When</th>
            <td>{{ item.get_when }}</td>
        </tr>

        <tr>
            {% if item.get_cost() %}
            <th scope="row">How much</th>
            <td>{{ item.get_cost() }}</td>
            {% endif %}
        </tr>

    </table>

    {% if item.get_details_link_url and item.get_details_link_text %}
    <p class="c-event__details__link">
        <a
            href="{{ item.get_details_link_url|esc_url }}"
            class="c-event__details__link__btn"
            data-ga-category="Event"
            data-ga-label="Details|{{ item.get_details_link_text|esc_attr }}"
            target="_blank"
        >
            {{ item.get_details_link_text }}
        </a>
    </p>
    {% endif %}

</div>
