<div class="c-event__export">
    <div class="inner">
        {% spaceless %}

        <div class="c-event__export__item">
            <a href="{{ item.get_google_calendar_link() }}" class="c-event__export__link" data-ga-category="Event Export" data-ga-label="Google|{{ item.get_the_title }}">
                {{ ped_icon( 'calendar', 'c-event__export__icon' ) }}
                <span class="c-event__export__text">Google</span>
            </a>
        </div>
        <div class="c-event__export__item">
            <a href="{{ item.get_ics_link() }}" class="c-event__export__link" data-ga-category="Event Export" data-ga-label="iCal|{{ item.get_the_title }}">
                {{ ped_icon( 'calendar', 'c-event__export__icon' ) }}
                <span class="c-event__export__text">iCal</span>
            </a>
        </div>
        <div class="c-event__export__item">
            <a href="{{ item.get_ics_link() }}" class="c-event__export__link" data-ga-category="Event Export" data-ga-label="Outlook|{{ item.get_the_title }}">
                {{ ped_icon( 'calendar', 'c-event__export__icon' ) }}
                <span class="c-event__export__text">Outlook</span>
            </a>
        </div>

        {% endspaceless %}
    </div>
</div>
