{% extends "base-email.twig" %}

{% block content %}

<div class="c-main--email  c-main  email-row  content-wrapper">

    <div id="entity-container" class="c-main__content  c-newsletter">

        {{ macros.blox( context, {
            'format': 'cap',
            'title': '',
            'url': item.get_the_permalink,
            'size': 'sm'
        } ) }}

        <div class="c-main__header">

            <p>Email not displaying correctly? <a href="{{ item.get_the_permalink }}"><strong>View it in your browser</strong></a></p>

            {{ ped_slot( 'lead' ) }}

            <h4 class="c-main__title">{{ item.get_newsletter_subtitle }}</h4>

            {% if item.get_instagram_of_the_day %}
            <div class="c-main__lead-img">
                {{ item.get_instagram_of_the_day }}
            </div>
            {% endif %}

        </div>


        {% if item.get_items %}
        <div class="c-main__entities  c-stream  c-stream--simple">
            {% set stream = true %}
            {% include 'partials/stream/stream-newsletter-items.twig' %}
        </div>

        {% else %}

        <section class="c-main__body  s-post-content">
            {{ item.get_the_content }}
        </section>
        {% endif %}

    </div>

    <div class="c-main__footer">
        <p><a href="{{ item.get_the_permalink }}">View Newsletter on {{ site.name }}</a></p>
    </div>

</div>

{% endblock %}
