{% extends "base-email.twig" %}

{% block content %}

<div class="email-constrain content-wrapper">

    <div id="entity-container" class="c-content  c-newsletter  c-panel  has-cap">

        <p class="cap">
            <a class="cta cap__btn" href="{{ item.get_the_permalink }}">Email not displaying correctly? <strong>View it in your browser</strong>.</a>
        </p>

        {{ ped_slot( 'lead' ) }}

        <div class="c-panel__inner">
            <h4 class="c-content__subtitle">{{ item.get_newsletter_subtitle }}</h4>

            {% if item.get_instagram_of_the_day %}
            <div class="c-content__lead-img">
                {{ item.get_instagram_of_the_day }}
            </div>
            {% endif %}

            {% if item.get_items %}
            <div class="c-content__entities  c-stream  c-stream--simple  c-stream--pedalized">
                {% include 'partials/stream/stream-newsletter-items.twig' %}
            </div>

            {% else %}

            <section class="c-content__body  s-post-content">
                {{ item.get_the_content }}
            </section>
            {% endif %}
        </div>

        <p class="cap">
            <a class="cta cap__btn" href="{{ item.get_the_permalink }}">View Newsletter on {{ site.name }}</a>
        </p>

    </div>

</div>

{% endblock %}
