{% extends "base-email.twig" %}

{% block content %}

<div class="email-constrain content-wrapper">

    <div id="entity-container" class="email-newsletter  c-panel  has-cap">

        <p class="cap">
            <a class="cta cap__btn" href="{{ item.get_the_permalink }}">Email not displaying correctly? <strong>View it in your browser</strong>.</a>
        </p>

        {{ ped_slot( 'lead' ) }}

        <div class="c-panel__inner">
            {{ item.get_the_content }}
        </div>

        <p class="cap">
            <a class="cta cap__btn" href="{{ item.get_the_permalink }}">View Newsletter on {{ site.name }}</a>
        </p>

    </div>

</div>

{% endblock %}
