{% extends "base-email.twig" %}

{% block content %}

<div class="email-constrain content-wrapper">

    <div id="entity-container" class="c-content  c-newsletter  c-panel  has-cap">

        {{ macros.blox( context, {
            'format': 'cap',
            'title': 'Email not displaying correctly? <strong>View it in your browser</strong>',
            'url': item.get_the_permalink,
            'size': 'sm'
        } ) }}

        {{ ped_slot( 'lead' ) }}

        <div class="c-panel__inner">
            <h4 class="c-content__subtitle">{{ item.get_newsletter_subtitle }}</h4>

            {% if item.get_instagram_of_the_day %}
            <div class="c-content__lead-img">
                {{ item.get_instagram_of_the_day }}
            </div>
            {% endif %}

            {% if item.get_items %}
            <div class="c-content__entities  c-stream  c-stream--simple  c-stream--pedalized">
                {% include 'partials/stream/stream-newsletter-items.twig' %}
            </div>

            {% else %}

            <section class="c-content__body  s-post-content">
                {{ item.get_the_content }}
            </section>
            {% endif %}
        </div>

        {{ macros.blox( context, {
            'format': 'cap',
            'title': 'View Newsletter on ' ~ site.name,
            'url': item.get_the_permalink
        } ) }}

    </div>

</div>

{% endblock %}
