{% spaceless %}

{% if id and sizes %}
<div
    class="dfp js-dfp {{ additional_classes|esc_attr }}"
    data-dfp-sizes="{{ sizes|esc_attr }}"
    data-dfp-name="{{ id|esc_attr }}"
    data-dfp-unique="{{ unique_id|esc_attr }}"
    id="div-gpt-ad-{{ id|esc_attr }}-{{ unique_id|esc_attr }}"
>
<script type="text/javascript">
    googletag.cmd.push(function() { googletag.display("div-gpt-ad-{{ id }}-{{ unique_id }}"); });
</script>
</div>
{% endif %}

{% endspaceless %}
