{% spaceless %}

{% if id and sizes %}

<div class="abd-debug js-abd-debug"></div>

<div
    class="dfp js-dfp {{ additional_classes|esc_attr }}"
    data-dfp-sizes="{{ sizes|esc_attr }}"
    data-dfp-name="{{ id|esc_attr }}"
    data-dfp-unique="{{ unique_id|esc_attr }}"
    data-dfp-slottarget="{{ slot_target|esc_attr }}"
    id="div-gpt-ad-{{ id|esc_attr }}-{{ unique_id|esc_attr }}"
></div>
{% endif %}

{% endspaceless %}
