{% set stream_item_element = if_email('div', 'article')  %}

<{{ stream_item_element }} class="{{ macros.get_stream_item_classes( 'standard', _context ) }}"
         {{ item.get_the_data_atts }}>

    {% if is_home and item.is_pinned %}
    {% include 'partials/stream/pin-mark.twig' %}
    {% endif %}

    <div class="c-stream__item__inner  c-overview--thumbnail-crop  c-overview  o-media  o-media--responsive">

        {% if item.has_featured_image and not is_email %}
        {% include 'partials/stream/item-img.twig' with {'classes': 'o-media__img'} %}
        {% endif %}

        {% if is_home and item.has_story %}
        {% include 'partials/overview/overline.twig' with {
            'class': 'c-stream__item__overline'
        } %}
        {% endif %}

        <div class="c-stream__item__body  o-media__body">
            {% include 'partials/item-title.twig' %}

            {% if item.get_excerpt %}
            <div class="c-overview__description  c-stream__item__description">
                {{ item.get_the_excerpt }}
            </div>
            {% endif %}
        </div>

        {% if 'twitter' == item.get_embed_type and not is_email %}
        {{ item.get_embed_html }}
        {% endif %}

        {% include 'partials/meta-info/meta-info.twig' %}

    </div>

</{{ stream_item_element }}>
