{% set stream_item_element = if_email('div', 'article')  %}

<{{ stream_item_element }} class="{{ macros.get_stream_item_classes( 'standard', _context ) }}"
         {{ item.get_the_data_atts }}>

    {% if is_home and item.is_pinned %}
    {% include 'partials/stream/pin-mark.twig' %}
    {% endif %}

    <div class="c-stream__item__inner  c-overview">

        {% if item.has_featured_image %}
        {% include 'partials/stream/item-img.twig' %}
        {% endif %}

        <div class="c-stream__item__body">

            {% if is_home and item.has_story %}
            {% include 'partials/overview/overline.twig' with {
                'class': 'c-stream__item__overline'
            } %}
            {% endif %}

            {% include 'partials/item-title.twig' %}

            {% if item.get_excerpt %}
            <div class="c-overview__description  c-stream__item__description">
                {{ item.get_the_excerpt }}
            </div>
            {% endif %}

        </div>

        {% include 'partials/meta-info/meta-info.twig' %}

    </div>

</{{ stream_item_element }}>
