<article class="c-stream__item--sponsored  c-stream__item">
    <div class="c-stream__item__inner  c-overview--thumbnail-crop  c-overview  o-media  o-media--responsive">

        <div class="c-stream__item__overline  c-overview__overline  c-heading--overline">
            <h2 class="c-heading__title">
                Advertisement
            </h2>
        </div>

        {{ sponsored_items.featured_image }}

        <div class="c-stream__item__body  o-media__body">
            <h1 class="c-stream__item__title  c-overview__title">
                <a href="{{ sponsored_items.url }}" rel="nofollow" class="c-stream__item__link  c-overview__link" target="_blank" data-ga-category="Sponsored" data-ga-label="Title|{{ sponsored_items.title }}">
                    {{ sponsored_items.title }}
                </a>
            </h1>
        </div>
        <footer class="c-stream__item__footer  c-overview__meta  c-meta-info--link  c-meta-info--stream  c-meta-info">
            <div class="c-meta-info__img--standalone  c-meta-info__img  c-meta-info__item  hidden-for-medium-up">
                <a href="{{ sponsored_items.url }}" rel="nofollow" data-ga-category="Sponsored" data-ga-label="Icon|external-link|{{ sponsored_items.sponsored_by }}|Source">
                    {{ ped_icon( 'external-link', 'c-meta-info__img__icon' ) }}
                </a>
            </div>
            <div class="c-meta-info__stack  c-meta-info__item">
                <div class="c-meta-info__name  c-meta-info__stack__item c-meta-info__stack__mover">
                    <a href="{{ sponsored_items.url }}" rel="nofollow" data-ga-category="Sponsored" data-ga-label="Name|{{ sponsored_items.sponsored_by }}|Source">
                        Sponsored by {{ sponsored_items.sponsored_by }}
                    </a>
                </div>
            </div>
            <div class="c-meta-info__source  c-meta-info__item  c-meta-info__mover">
                <div class="c-meta-info__name c-meta-info__source__item">
                    <a href="{{ sponsored_items.url }}" rel="nofollow" data-ga-category="Sponsored" data-ga-label="Name|{{ sponsored_items.sponsored_by }}|Source">
                        Sponsored by {{ sponsored_items.sponsored_by }}
                    </a>
                </div>
                <div class="c-meta-info__img  c-meta-info__source__item">
                    <a href="{{ sponsored_items.url }}" rel="nofollow" data-ga-category="Sponsored" data-ga-label="Icon|external-link|{{ sponsored_items.sponsored_by }}|Source">
                        {{ ped_icon( 'external-link', 'c-meta-info__img__icon' ) }}
                    </a>
                </div>
            </div>
        </footer>
    </div>
</article>
