{% extends "base.twig" %}

{% block content %}

<main role="main" class="{{ main_classes }}">

    <article id="page" class="row">

        <div class="e404-main large-6 large-push-6 columns">

            <figure class="e404-quote">
                <blockquote class="e404-quote__body e404-large-text">{{ quote.body }}</blockquote>
                <figcaption class="e404-quote__caption">&mdash;{{ quote.author }}</figcaption>
            </figure>

            <div class="e404-message">
                <small class="e404-message__hook e404-large-text">{{ message.hook }}</small>
                <h2 class="e404-message__content e404-large-text">{{ message.content }}</h2>
            </div>

            <div class="e404-nav">
                <p>
                    Go to
                    {% for link_title, link_url in links %}
                        <a href="{{ link_url }}">{{ link_title }}</a>{% if not loop.last %} | {% endif %}
                    {% endfor %}
                </p>
            </div>

        </div>

        <div class="e404-art large-6 large-pull-6 columns">

            <figure class="e404-young-penn">
                <img src="{{ young_penn.src }}" class="e404-young-penn__img" title="{{ young_penn.description }}" alt="{{ young_penn.description }}" />
                <figcaption class="e404-young-penn__caption">
                    <p>
                        <span class="description">{{ young_penn.description }}</span><br />
                        <span class="source">{{ young_penn.source }}</span>
                    </p>
                </figcaption>
            </figure>

        </div>

    </article>

</main>

{% endblock %}
