<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
    <head>
        <meta charset="{{site.charset}}" />
        <title>{{wp_title}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="fb:pages" content="{{ site.social.facebook_page_id }}" />
        <link rel="pingback" href="{{site.pingback_url}}" />
        {% include 'partials/header/header-js.twig' ignore missing %}
        {% include 'partials/analytics/analytics-ga.twig' %}

        {{ function('wp_head') }}

        {% block head %}
        {% endblock %}
        {% include 'partials/header/favicons.twig' ignore missing %}
        {{ site.analytics.parsely.data }}
    </head>
    <body class="{{ body_class }} {{ layout_class }}" data-template="{{ template_name ?: 'base.twig' }}">
        <div class="sticky-footer-container">
            <div class="site-wrap has-sticky-footer js-site" style="flex: 1;">

                {% block pre_header %}
                {% endblock %}

                {% if not is_page_donate %}
                {% include 'partials/header/message-spot.twig' with message_spot only %}
                {% endif %}

                {{ site_header }}

                {% block after_header %}
                {% endblock %}

                {% if spotlight.enabled and spotlight.content and not is_home and not is_page %}
                <aside class="spotlight">
                    <div class="row">
                        <div class="spotlight__inner">
                            <strong>{{ spotlight.label }}</strong>
                            <a
                                href="{{ spotlight.content.get_the_permalink|esc_url }}"
                                data-ga-category="Spotlight|{{ spotlight.label|esc_attr }}"
                                data-ga-label="{{ spotlight.content.get_the_title|esc_attr }}"
                            >
                                {{ spotlight.content.get_the_title }}
                            </a>
                        </div>
                    </div>
                </aside>
                {% endif %}

                {% if not is_page %}
                    {% include 'partials/adverts/dfp-header-300x50.twig' ignore missing %}
                {% endif %}

                <div class="content-wrapper">
                   {% block the_body %}
                   {% endblock %}

                   {% block the_sidebar %}
                   {% endblock %}
                </div>

                {% include 'site-footer.twig' %}

            </div><!-- end .site-wrap -->
        </div> <!-- end .sticky-footer-container -->

        {{function('wp_footer')}}

        {% include 'partials/analytics/analytics.twig' %}
        {% include 'partials/cdn-fallback.twig' %}
        {% include 'partials/modals/modal.twig' %}

    </body>
</html>
