<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
    <head>
        <meta charset="{{site.charset}}" />
        <title>{{wp_title}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="fb:pages" content="{{ site.social.facebook_page_id }}" />
        <link rel="pingback" href="{{site.pingback_url}}" />

        <script>var PEDESTAL_VERSION = "{{ PEDESTAL_VERSION }}";</script>
        {% include 'partials/header/header-js.twig' ignore missing %}
        <script src="{{ local_storage_cookie_script_url|esc_url }}"></script>

        {% if site.analytics.ga %}
            {% include 'partials/analytics/analytics-ga-optimize.twig' %}
            {% include 'partials/analytics/analytics-ga.twig' %}
        {% endif %}

        {{ function('wp_head') }}

        {% block head %}
        {% endblock %}
        {% include 'partials/header/favicons.twig' ignore missing %}
        {{ site.analytics.parsely.data }}
    </head>
    <body class="{{ body_class }} {{ layout_class }}" data-template="{{ template_name ?: 'base.twig' }}">
        <div class="sticky-footer-container">
            <div class="site-wrap has-sticky-footer js-site" style="flex: 1;">

                {% block pre_header %}
                {% endblock %}

                {{ message_spot }}
                {{ site_header }}

                {% block after_header %}
                {% endblock %}

                <div class="content-wrapper">
                   {% block the_body %}
                   {% endblock %}

                   {% block the_sidebar %}
                   {% endblock %}
                </div>

                {% include 'site-footer.twig' %}

            </div><!-- end .site-wrap -->
        </div> <!-- end .sticky-footer-container -->

        {{function('wp_footer')}}

        {% include 'partials/analytics/analytics-parsely.twig' %}

        {% if cdn_fallback_inline_script %}
        <script>{{ cdn_fallback_inline_script }}</script>
        {% endif %}

        {% include 'partials/modals/modal.twig' %}

    </body>
</html>
