<?xml version="1.0" encoding="utf-8" ?>

<rss version="2.0"
    xmlns:content="http://purl.org/rss/1.0/modules/content/"
    xmlns:wfw="http://wellformedweb.org/CommentAPI/"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:atom="http://www.w3.org/2005/Atom"
    xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
    xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
    xmlns:media="http://search.yahoo.com/mrss/"
>

<channel>

{% block header %}
    <title>{{ feed.title }}</title>
    <atom:link href="{{ feed.self_link|esc_url }}" rel="self" type="application/rss+xml" />
    <link>{{ feed.site_link|e }}</link>
    <description>{{ feed.description }}</description>
    <lastBuildDate>{{ feed.build_date }}</lastBuildDate>
    <language>{{ feed.language }}</language>
    <sy:updatePeriod>{{ feed.update_period }}</sy:updatePeriod>
    <sy:updateFrequency>{{ feed.update_freq }}</sy:updateFrequency>
{% endblock %}


{% block items %}

{% for item in items %}
<item>
    {% include [ 'partials/feeds/' ~ item.get_type ~ '.twig', 'partials/feeds/item.twig' ] %}
</item>
{% endfor %}

{% endblock %}


</channel>
</rss>
