<footer class="site-footer" role="contentinfo">

    <div class="row">

        <div class="site-footer-social medium-4 medium-push-8 columns">
            <ul class="iconset inline-list">
                {% include 'partials/social-icons.twig' with {'location': 'footer'} %}
            </ul>
        </div>

        <div class="site-footer-links large-6 large-pull-6 medium-8 medium-pull-4 columns">
            <div class="row">
                <div class="columns medium-4">
                    <ul class="no-bullet">
                        {% for title, link in menu | slice(0, 2) %}
                        <li><a href="{{ link }}">{{ title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="columns medium-4">
                    <ul class="no-bullet">
                        {% for title, link in menu | slice(2, 2) %}
                        <li><a href="{{ link }}">{{ title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="columns medium-4">
                    <ul class="last no-bullet">
                        {% for title, link in menu | slice(4, 2) %}
                        <li><a href="{{ link }}">{{ title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="site-footer-copyright columns small-12">
            {% include 'partials/footer/copyright.twig' with { 'img': true } %}
        </div>
    </div>

</footer>

<nav class="main-navigation" role="navigation">

    <div class="off-canvas-menu right-off-canvas-menu">

        <ul class="off-canvas-menu__list off-canvas-list">

        {% for title, link in menu_off_canvas | slice(0, 1) %}
            <li class="off-canvas-menu__item"><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}

        {% for title, link in menu_off_canvas | slice(1, 2) %}
            <li class="off-canvas-menu__follow off-canvas-menu__item">
                <a href="{{ link }}" class="disabled">{{ title }}</a>
                <ul class="off-canvas-menu__follow__icons iconset inline-list">
                    {% include 'partials/social-icons.twig' with {'location': 'off_canvas'} %}
                </ul>
            </li>
        {% endfor %}

        {% for title, link in menu %}
            <li class="off-canvas-menu__item"><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}

        </ul>

    </div>

    <a class="exit-off-canvas"></a>

</nav>


</div>
</div>

{% include 'partials/modals/daily-newsletter.twig' %}
{% include 'partials/search.twig' with {'sitewide': true} %}

{{function('wp_footer')}}

{% include 'partials/analytics/analytics.twig' %}
