<footer class="site-footer" role="contentinfo">

    <div class="row">

        <ul class="site-ctas medium-4 medium-push-8 columns">
            {% include 'partials/site-ctas.twig' with {'location': 'footer'} %}
        </ul>

        <div class="site-footer-links large-6 large-pull-6 medium-8 medium-pull-4 columns">
            <div class="row">
                <div class="columns medium-4">
                    <ul class="no-bullet">
                        {% for title, link in menu | slice(0, 2) %}
                        <li><a href="{{ link }}" data-ga-category="Footer Links" data-ga-label="{{ title }}">{{ title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="columns medium-4">
                    <ul class="no-bullet">
                        {% for title, link in menu | slice(2, 2) %}
                        <li><a href="{{ link }}" data-ga-category="Footer Links" data-ga-label="{{ title }}">{{ title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="columns medium-4">
                    <ul class="last no-bullet">
                        {% for title, link in menu | slice(4, 2) %}
                        <li><a href="{{ link }}" data-ga-category="Footer Links" data-ga-label="{{ title }}">{{ title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="site-footer-copyright columns small-12">
            {% include 'partials/footer/copyright.twig' with { 'img': true } %}
        </div>
    </div>

</footer>

</div><!-- end .site-wrap -->

{% include 'partials/search.twig' with {'sitewide': true} %}

{{function('wp_footer')}}

{% include 'partials/analytics/analytics.twig' %}
{% include 'partials/cdn-fallback.twig' %}
