<footer class="site-footer" role="contentinfo">
    <nav class="site-footer__nav">
        <div class="row">
            <ul class="site-ctas">
                {% include 'partials/site-ctas.twig' with {'location': 'footer'} %}
            </ul>

            {% spaceless %}
            <div class="site-footer__links--inline site-footer__links">
                <ul class="no-bullet">
                    {% for title, link in menu | slice(0, 3) %}
                    <li><a href="{{ link }}" data-ga-category="Footer Links" data-ga-label="{{ title }}">{{ title }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="no-bullet">
                    {% for title, link in menu | slice(3, 3) %}
                    <li><a href="{{ link }}" data-ga-category="Footer Links" data-ga-label="{{ title }}">{{ title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endspaceless %}

            <div class="site-footer__links--columns site-footer__links">
                <div class="row">
                    <ul class="site-footer__links__column no-bullet">
                        {% for title, link in menu | slice(0, 2) %}
                        <li><a href="{{ link }}" data-ga-category="Footer Links" data-ga-label="{{ title }}">{{ title }}</a></li>
                        {% endfor %}
                    </ul>
                    <ul class="site-footer__links__column no-bullet">
                        {% for title, link in menu | slice(2, 2) %}
                        <li><a href="{{ link }}" data-ga-category="Footer Links" data-ga-label="{{ title }}">{{ title }}</a></li>
                        {% endfor %}
                    </ul>
                    <ul class="site-footer__links__column no-bullet">
                        {% for title, link in menu | slice(4, 2) %}
                        <li><a href="{{ link }}" data-ga-category="Footer Links" data-ga-label="{{ title }}">{{ title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="site-footer__colophon">
        <div class="row">
            <div class="columns small-12">
                <span class="site-footer__newsroom">
                    {{ ped_logo( 'logo-icon-white', 'site-footer__logo' ) }}
                    {{ site.name }} is a <a href="https://spiritedmedia.com/">Spirited Newsroom</a>
                </span>
                <span class="site-footer__copyright">{{ copyright_text }}</span>
            </div>
        </div>
    </div>
</footer>

</div><!-- end .site-wrap -->

{% include 'partials/search.twig' with {'sitewide': true} %}

{{function('wp_footer')}}

{% include 'partials/analytics/analytics.twig' %}
{% include 'partials/cdn-fallback.twig' %}
