<div class="off-canvas-wrap" data-offcanvas>
<div class="inner-wrap">

<header class="site-header" role="banner">
    {% block header %}
    <div class="row">

        <div class="columns small-9 medium-6">
            <h1 class="site-header-logo">
                <a href="{{ site.url }}" rel="home" data-ga-category="Site Logo|Header" data-ga-label=""><span class="hidden-for-small-up">Home</span></a>
            </h1>
        </div>

        <div class="site-header-social columns small-3 medium-6 end">
            <ul class="iconset inline-list">
                {% include 'partials/social-icons.twig' with {'location': 'header'} %}
            </ul>
        </div>

    </div>
    {% endblock %}
</header>

{% if spotlight.enabled and spotlight.content %}
<aside id="promoted-story">
    <div class="row">
        <strong>{{ spotlight.label }}</strong>
        <a href="{{ spotlight.content.get_the_permalink }}" data-ga-category="Spotlight|{{ spotlight.label }}" data-ga-label="{{spotlight.content.get_the_title}}">{{ spotlight.content.get_the_title }}</a>
    </div>
</aside>
{% endif %}

{% include 'partials/adverts/dfp-header-300x50.twig' ignore missing %}
