{% extends 'layouts/layout--content-sidebar.twig' %}

{% block content %}
    {% if stream %}
        <section class="stream--home stream">
            {% if featured_stream_items %}
            <section class="stream__featured-items">
                {% for item in featured_stream_items %}
                    {% if loop.first %}
                        <div class="row">
                            <div class="stream__featured-items__primary">
                                {{ item }}
                            </div>
                        </div>
                    {% else %}
                        {% if loop.index == 2 %}<div class="row">{% endif %}
                            <div class="stream__featured-items__secondary">
                                {{ item }}
                            </div>
                        {% if loop.index == 3 %}</div>{% endif %}
                    {% endif %}
                {% endfor %}
            </section>
            {% endif %}

            {% if stream_header_city %}
            <header class="stream__header">
                <div class="stream__header__inner">
                    {% include 'partials/stream/stream-header.twig' %}
                </div>
            </header>
            {% endif %}

            <div class="stream__items">
                {{ stream }}
            </div>
        </section>

        {{ pagination }}

    {% endif %}

{% endblock %}

{% block sidebar %}
    {% if sidebar %}
        {{ sidebar }}
    {% endif %}
{% endblock %}
