{% extends 'layouts/layout--content-sidebar.twig' %}

{% block content %}
    {% if page_title %}
        <header class="c-main__header">
            <h1 class="c-main__title">{{ page_title }}</h1>
        </header>
    {% endif %}

    {% if stream %}
        <section class="stream--home stream js-stream">
            {% if featured_stream_items %}
                {% set has_any_overlines = false %}
                {% for item in featured_stream_items %}
                    {% if item.context.overline and not loop.first %}
                        {% set has_any_overlines = 'has-overlines' %}
                    {% endif %}
                {% endfor %}

                <section class="stream__featured-items">
                    {% for item in featured_stream_items %}
                        {% if loop.first %}
                            <div class="stream__featured-items__primary">
                                {{ item.html }}
                            </div>
                        {% else %}
                            {% if loop.index == 2 %}
                            <div class="stream__featured-items__secondary {{ has_any_overlines }}">
                            {% endif %}
                                {{ item.html }}
                            {% if loop.index == 3 %}
                            </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </section>
            {% endif %}

            {% if stream_header_city %}
                <header class="stream__header">
                    <div class="stream__header__inner">
                        {% include 'partials/stream/stream-header.twig' %}
                    </div>
                </header>
            {% endif %}

            <div class="stream__items">
                {{ stream }}
            </div>
        </section>

        {{ pagination }}

    {% endif %}
{% endblock %}


{% block sidebar_secondary %}
    <li class="widget tips-feedback">
        <p>
            Have a tip? Email us at
            <a
                href="mailto:{{ site.emails.tips|esc_attr }}"
                data-ga-category="sidebar"
                data-ga-label="link"
            >
                {{ site.emails.tips }}
            </a>
        </p>
    </li>
{% endblock sidebar_secondary %}
