{% extends "base.twig" %}
{% set template_name = 'layout-flat.twig' %}
{% set layout_class = 'l-flat' %}

{% block content %}

<main role="main" class="c-main columns">

    <article class="c-main__content  {{ item.css_classes }}  {{ item.css_classes_content }}"
        {{ item.get_the_data_atts }} >

        <div class="c-main__content__inner large-8 columns">

            <header class="c-main__header  c-overview">

                {% block content__header %}

                    {% block content__lead_img %}
                    {% if item.has_featured_image %}
                    {% include 'partials/overview/lead-image.twig' %}
                    {% endif %}
                    {% endblock %}

                    {% block story_bar %}
                    {% include 'partials/overview/overline.twig' %}
                    {% endblock %}

                    {% include 'partials/item-title.twig' with { url: 'none' } %}

                    {% if item.get_excerpt %}
                        <div class="c-overview__description">
                            {{ item.get_the_excerpt }}
                        </div>
                    {% endif %}

                    {% block content__meta %}
                    {% include 'partials/meta-info/meta-info-entity.twig' %}
                    {% endblock %}

                    {% include 'partials/entity-share.twig' %}

                {% endblock %}

            </header>

            <section class="c-main__body">
                {% block content__body %}
                {% endblock %}
            </section>

            {% if item.get_the_footnotes %}
            <aside class="c-main__footnotes  js-content-footnotes">
                {{ item.get_the_footnotes }}
            </aside>
            {% endif %}

            {% block content__footer %}
            <footer class="c-main__footer  [ o-rule--closure  o-rule ]">
                {% include 'partials/cluster-list.twig' %}
            </footer>
            {% endblock %}

            {% include 'partials/modals/entity-share-modal.twig' %}

        </div>

        <aside class="l-flat__rail  c-main__content__rail  rail  columns  large-4">
            <ul class="sidebar">
                {% block content__rail %}
                    {% include 'sidebar-' ~ item.get_type ~ '.twig' ignore missing %}
                {% endblock %}
            </ul>
        </aside>

    </article>

    {{ macros.nativo( 'content-below' ) }}

</main>

{% endblock %}


{% block sidebar %}
{% endblock %}
