{% extends "base.twig" %}
{% set template_name = 'layout-flat.twig' %}
{% set layout_class = 'l-flat' %}

{% block content %}

<main role="main" class="main columns">

    <article class="c-content  {{ macros.has_title_bar( _context ) }}  {{ item.css_classes }}  {{ item.css_classes_content }}"
        {{ item.get_the_data_atts }} >

        <div class="c-content__main large-8 columns">

            {% block title_bar %}
            {% endblock %}

            <header class="c-content__header">

                {% block content__header %}

                    {% block content__lead_img %}
                    {% if item.has_featured_image() %}
                    <div class="c-content__lead-img">
                        {% include 'partials/lead-image.twig' %}
                    </div>
                    {% endif %}
                    {% endblock %}

                    <h2 class="c-content__headline">{{ item.get_the_title }}</h2>

                    {% block content__meta %}
                        <div class="c-content__meta">
                            {% include 'partials/meta-info/meta-info-entity.twig' %}
                        </div>
                    {% endblock %}

                    {% include 'partials/entity-share.twig' %}

                {% endblock %}

            </header>

            <section class="c-content__body">
                {% block content__body %}
                {% endblock %}
            </section>

            {% if item.get_the_footnotes %}
            <aside class="c-content__footnotes  js-content-footnotes">
                {{ item.get_the_footnotes }}
            </aside>
            {% endif %}

            <footer class="c-content__footer  [ o-rule--closure  o-rule ]"></footer>

            {% include 'partials/modals/entity-share-modal.twig' %}

        </div>

        <aside class="l-flat__rail  c-content__rail  rail  columns  large-4">
            <ul class="sidebar">
                {% block content__rail %}
                    {% include 'sidebar-' ~ item.get_type ~ '.twig' ignore missing %}
                {% endblock %}
            </ul>
        </aside>

    </article>

    {{ macros.nativo( 'content-below' ) }}

</main>

{% endblock %}


{% block sidebar %}
{% endblock %}
