{% extends 'layouts/layout--content-sidebar.twig' %}

{% block content %}

    <section class="c-main__content  {{ item.css_classes|esc_attr }}"
        {{ item.get_the_data_atts }} >

        <header class="c-main__header js-main-header  single-header">

            {% if 'story' == type %}
            {% include 'partials/overline-single.twig' %}
            {% else %}
            <h1 class="single-header__title  c-heading--archive">
                <span class="c-heading__prefix">Posts tagged with</span>
                <span class="c-heading__title">{{ title }}</span>
            </h1>
            {% endif %}

            {% if headline %}
                <h1 class="single-header__title">{{ headline }}</h1>
            {% endif %}

            <div class="single-header__meta  c-meta-info--{{ item.get_type }}  c-meta-info--cluster  c-meta-info">
                <div class="c-meta-info__modified  c-meta-info__item--stacked">
                    <span class="c-meta-info__label">
                        {{ __( 'Last Updated', 'pedestal' ) }}&nbsp;
                    </span>
                    <span class="c-meta-info__timestamp--modified  c-meta-info__timestamp">
                        {% include 'partials/meta-info/timestamp-modified.twig' %}
                    </span>
                </div>
                <div class="c-meta-info__published  c-meta-info__item--stacked">
                    <span class="c-meta-info__label">
                        {{ __( 'Created', 'pedestal' ) }}&nbsp;
                    </span>
                    <span class="c-meta-info__timestamp--published  c-meta-info__timestamp">
                        {% include 'partials/meta-info/timestamp-published.twig' %}
                    </span>
                </div>
            </div>

            {% if featured_image %}
                {{ featured_image }}
            {% endif %}

            {% include 'partials/share-buttons.twig' %}

            {% if content %}
                <div class="single-header__lead-text  s-post-content">
                    {{ content }}
                </div>
            {% endif %}

            {% if 'story' == type %}
                {% include 'partials/follow-this-form.twig' %}
            {% endif %}

        </header>

        {% if stream %}
            {{ upper_pagination }}

            <section class="stream">
                {{ stream }}
            </section>

            {% if show_closure_rule %}
                <footer class="o-rule--closure  o-rule"></footer>
            {% endif %}

            {{ pagination }}

        {% endif %}

    </section>

{% endblock %}

{% block sidebar %}
    {% if slug == 'whos-next' %}
        {% include 'partials/whosnext/sponsor-logo.twig' ignore missing %}
        {% include 'partials/whosnext/description-widget.twig' %}
    {% endif %}

    {% if sidebar %}
        {{ sidebar }}
    {% endif %}
{% endblock %}
