{% extends 'layouts/layout--content-sidebar.twig' %}
{% import 'macros/user-card.twig' as macros %}

{% block content %}

    <article class="c-main__content  {{ item.css_classes|esc_attr }}"
        {{ item.get_the_data_atts }} >

        <header class="c-main__header js-main-header single-header">

            {% if 'factcheck' == type %}
            {% include 'partials/factchecks/hero.twig' %}
            {% endif %}

            <div class="single-header__sponsorship">
                {{ ped_slot( 'single_lead' ) }}
            </div>

            {% if overline %}
                <h2 class="single-header__overline c-heading--overline">
                    {% if overline_url %}
                        <a
                            href="{{ overline_url|esc_url }}"
                            data-ga-category="{{ 'Single ' ~ type_name|esc_attr }}"
                            data-ga-label="Overline|{{ overline|esc_attr }}"
                        >
                            {{ overline }}
                        </a>
                    {% else %}
                        {{ overline }}
                    {% endif %}
                </h2>
            {% endif %}


            <h1 class="single-header__title">
                {{ title }}
            </h1>

            {% if description %}
                <div class="single-header__description">{{ description }}</div>
            {% endif %}

            {{ featured_image }}

            {% if show_meta_info %}
            {% include 'partials/meta-info/meta-info-entity-single.twig' %}
            {% endif %}

            {% include 'partials/share-buttons.twig' %}

        </header>

        <section class="c-main__body {{ content_classes }}">
            {{ content }}
        </section>

        {% if footnotes %}
        <aside class="c-main__footnotes  js-content-footnotes">
            {{ footnotes }}
        </aside>
        {% endif %}

        <footer class="c-main__footer js-main-footer">
            {{ sponsored_item }}

            {% include 'partials/entity-circulation.twig' %}

            <div class="signup-email--daily signup-email">
                {% include 'partials/signup-daily.twig' with {
                    gaLocation: 'Single ' ~ type_name|esc_attr ~ ' | Footer'
                } %}
            </div>

            {{ cluster_list }}

            {% if 'feat_contributor' == item.get_single_author.get_primary_role %}
            <div class="c-main__author-info">
                {{ macros.user_card( _context, item.get_single_author ) }}
            </div>
            {% endif %}
        </footer>

    </article>
{% endblock %}


{% block sidebar %}
    {% if sidebar %}
        {{ sidebar }}
    {% endif %}
{% endblock %}
