{% extends 'layouts/layout--content-sidebar.twig' %}

{% block content %}

    <article class="c-newsletter  c-main__content  {{ item.css_classes }}"
        {{ item.get_the_data_atts }} >


        <header class="c-overview  c-main__header js-main-header">
            <div class="c-overview__sponsorship">
                {{ ped_slot( 'single_lead' ) }}
            </div>

            {% include 'partials/overview/overline.twig' with {
                title: 'Newsletter'
            } %}

            {% include 'partials/item-title.twig' with { url: 'none' } %}

            <h2 class="c-overview__description">
                {{ item.get_newsletter_subtitle }}
            </h2>
        </header>

        {% if item.get_instagram_of_the_day %}
        <section class="c-main__lead-img">
            {{ item.get_instagram_of_the_day }}
        </section>
        {% endif %}

        {% if item.get_items %}

        <section class="c-main__entities">
            {% set stream = true %}

            <div class="newsletter-items">

            {% set first_heading = true %}
            {% for item in item.get_items %}

                {% if 'post' == item.type %}

                    {% include [
                        'partials/stream/newsletter/' ~ item.post.get_type ~ '.twig',
                        'partials/stream/newsletter/entity.twig'
                    ] with {
                        'item': item.post,
                        'newsletter_item': item
                    } %}

                {% elseif 'heading' == item.type %}
                    {% if first_heading %}
                        {% if ped_slot( 'newsletter_promoted_event' ) %}
                            <h2 class="c-heading--overline">Sponsored Event</h2>
                            {{ ped_slot( 'newsletter_promoted_event' ) }}
                        {% endif %}
                        {% set first_heading = false %}
                    {% endif %}

                    <h2 class="c-heading--overline">{{ item.title }}</h2>
                {% endif %}

            {% endfor %}

            </div>

        </section>

        {% else %}

        <section class="c-main__body  s-post-content">
            {{ item.get_the_content }}
        </section>

        {% endif %}

        <footer class="c-main__footer js-main-footer  [ o-rule--closure  o-rule ]"></footer>

    </article>

{% endblock %}

{# Uses the default sidebar #}
