{% extends item.get_single_base_template %}

{% block content %}

<main role="main" class="{{ main_classes }}">

    <article class="c-content  c-panel  {{ macros.has_title_bar( _context ) }}  {{ item.css_classes }}"
        {{ item.get_the_data_atts }} >

        {{ macros.title_bar( _context, { background_color : item.background_color }) }}

        <div class="c-panel__inner">

            <header class="c-content__header">

                {% if item.has_featured_image() %}
                <div class="c-content__lead-img">
                    {% include 'partials/lead-image.twig' %}
                </div>
                {% endif %}

                {{ ped_slot( 'single_lead' ) }}

                <h2 class="c-content__title">{{ item.get_the_title }}</h2>

            </header>

            <section class="c-content__body">

                <div class="c-content__data">
                    {% include 'partials/events/details.twig' %}
                    {% include 'partials/events/export.twig' %}
                </div>

                {% include 'partials/entity-share.twig' %}

                {% if item.get_more %}
                <h3 class="c-content__heading">{{ heading.details }}</h3>
                <div class="s-post-content">
                    {{ item.get_more }}
                </div>
                {% endif %}

            </section>

            {% include 'partials/modals/entity-share-modal.twig' %}

        </div>

    </article>

</main>

{% endblock %}
