{% extends item.get_single_base_template %}

{% block content %}

<main role="main" class="{{ main_classes }}">

    <article class="c-main__content  {{ item.css_classes }}"
        {{ item.get_the_data_atts }} >

        <header class="c-main__header  c-overview">

            <div class="c-overview__sponsorship">
                {{ ped_slot( 'single_lead' ) }}
            </div>

            {% include 'partials/overview/overline.twig' %}
            {% include 'partials/item-title.twig' %}
            {% include 'partials/meta-info/meta-info-entity.twig' %}
            {% include 'partials/entity-share.twig' %}

            {% if item.get_excerpt %}
            <div class="c-overview__description">
                {{ item.get_the_excerpt }}
            </div>
            {% endif %}

        </header>

        <section class="c-main__body">
            {{ item.get_embed_html() }}
        </section>

        {% if item.has_clusters %}
            <footer class="c-main__footer  [ o-rule--closure  o-rule ]">
                {% include 'partials/cluster-list.twig' %}
            </footer>
        {% endif %}

        {% include 'partials/modals/entity-share-modal.twig' %}

    </article>

</main>

{% endblock %}
