{% extends 'layouts/layout--content-sidebar.twig' %}

{% block content %}

    <section class="c-main__content  {{ item.css_classes }}"
        {{ item.get_the_data_atts }} >

        <header class="c-main__header  c-overview">

            {% if not item.is_story %}
            <h1 class="c-overview__title  c-heading--archive">
                <span class="c-heading__prefix">Posts tagged with</span>
                <span class="c-heading__title">{{ item.get_the_title }}</span>
            </h1>
            {% endif %}

            {% if not item.is_stream_first_page %}
                <div class="c-main__paged">
                    {{ macros.pagination( item.get_pagination, { 'show_nav': false } ) }}
                </div>
            {% endif %}

            {% if item.is_story %}
                {% include 'partials/overview/overline.twig' %}
            {% endif %}

            {% if item.get_headline %}
                {% include 'partials/item-title.twig' with {
                    title: item.get_the_headline,
                    url: 'none'
                } %}
            {% endif %}

            {% include 'partials/meta-info/meta-info-cluster.twig' %}

            {% if item.has_featured_image %}
                {% include 'partials/overview/lead-image.twig' %}
            {% endif %}

            {% include 'partials/entity-share.twig' %}

            {% if item.get_content %}
                <div class="c-overview__lead-text  s-post-content">
                    {{ item.get_the_content }}
                </div>
            {% endif %}

        </header>

        <section class="c-main__entities  c-stream  c-stream--standard  js-stream">
            {% set stream = true %}

            <div class="c-stream__items">

            {% for item in item.get_entities %}
                {% if not ( 'whosnext' == item.get_type and 'nomination' == item.get_whosnext_type ) %}

                    {% set counter = ( counter | default(0) ) + 1 %}

                    {% if counter == 4 %}
                        {{ macros.nativo( 'cluster-stream-04' ) }}
                    {% endif %}

                    {% if counter == 8 %}
                        {% include 'partials/adverts/dfp-stream-08.twig' ignore missing %}
                    {% endif %}

                    {% if counter == 12 %}
                        {{ macros.nativo( 'cluster-stream-12' ) }}
                    {% endif %}

                    {% if counter == 16 %}
                        {% include 'partials/adverts/dfp-stream-16.twig' ignore missing %}
                    {% endif %}

                    {% include [
                        'partials/stream/standard/' ~ item.get_type ~ '.twig',
                        'partials/stream/standard/entity.twig'
                    ] with { 'gaCategory': 'Stream' } %}

                {% endif %}

                {% if loop.length < 8 and loop.last %}
                    {% include 'partials/adverts/dfp-stream-08.twig' ignore missing %}
                {% endif %}

            {% endfor %}

            </div>

            {% if item.get_pagination or item.is_stream_last_page %}
                {% if item.is_stream_last_page %}
                    {% set last_page_classes = 'o-rule--closure  o-rule' %}
                {% endif %}
                <footer class="c-stream__footer {{ last_page_classes }}">
                    {{ macros.pagination( item.get_pagination ) }}
                </footer>
            {% endif %}

        </section>

        {% include 'partials/modals/entity-share-modal.twig' %}

    </section>

{% endblock %}

{% block sidebar %}
	{% if sidebar %}
		{{ sidebar }}
	{% endif %}
{% endblock %}
