{% extends item.get_single_base_template %}

{% set hood = item %}

{% block content %}

<main role="main" class="{{ main_classes }}">

    <section class="c-content  c-panel  has-story-bar  {{ item.css_classes }}"
        {{ item.get_the_data_atts }} >

        {{ macros.story_bar( _context, {
            'location': 'header',
            'subtitle': __( 'By the Numbers', 'pedestal' )
        } ) }}

        <div class="c-panel__inner">

            <header class="c-content__header">

                {% include 'partials/entity-share.twig' %}

                {% if item.has_featured_image() %}
                <div class="c-content__lead-img">
                    {% include 'partials/lead-image.twig' %}
                </div>
                {% endif %}


                <div class="c-content__sponsor">
                    {% include 'partials/powered-by.twig' %}
                </div>

                <div class="c-content__meta">
                    {% include 'partials/meta-info/meta-info-hood.twig' %}
                </div>

                {% if item.get_content %}
                <div class="c-content__lead  s-post-content">
                    {{ item.get_the_content }}
                </div>
                {% endif %}

            </header>

            <section class="c-content__entities  c-stream  c-stream--inset  js-stream">
                <div class="c-stream__items  js-stream-items">
                    {% if item.get_everyblock %}
                    {% for item in item.get_everyblock %}

                        {% if loop.index == 8 %}
                            <div class="c-stream__item  js-stream-item">
                                {% include 'partials/adverts/dfp-stream-08.twig' ignore missing %}
                            </div>
                        {% endif %}

                        {% if loop.index == 16 %}
                            <div class="c-stream__item  js-stream-item">
                            {% include 'partials/adverts/dfp-stream-16.twig' ignore missing %}
                            </div>
                        {% endif %}

                        {% include 'partials/hood/everyblock/item.twig' %}

                        {% if loop.length < 8 and loop.last %}
                            <div class="c-stream__item  js-stream-item">
                                {% include 'partials/adverts/dfp-stream-08.twig' ignore missing %}
                            </div>
                        {% endif %}

                    {% endfor %}
                    {% else %}

                        {{ item.get_everyblock_error }}

                    {% endif %}
                </div>
            </section>

            <footer class="c-content__footer  [ o-rule--closure  o-rule ]"></footer>

            {% include 'partials/modals/entity-share-modal.twig' %}

        </div>

    </section>

</main>

{% endblock %}
