{% extends 'layouts/layout--content-sidebar.twig' %}

{% block content %}

    <section class="c-main__content  {{ item.css_classes }}"
        {{ item.get_the_data_atts }} >

        <header class="c-main__header js-main-header  c-overview">

            {% if not item.is_story %}
            <h1 class="c-overview__title  c-heading--archive">
                <span class="c-heading__prefix">Posts tagged with</span>
                <span class="c-heading__title">{{ item.get_the_title }}</span>
            </h1>
            {% endif %}

            {{ upper_pagination }}

            {% if item.is_story %}
                {% include 'partials/overview/overline.twig' %}
            {% endif %}

            {% if item.get_headline %}
                {% include 'partials/item-title.twig' with {
                    title: item.get_the_headline,
                    url: 'none'
                } %}
            {% endif %}

            {% include 'partials/meta-info/meta-info-cluster.twig' %}

            {% if item.has_featured_image %}
                {% include 'partials/overview/lead-image.twig' %}
            {% endif %}

            {% include 'partials/share-buttons.twig' %}

            {% if item.get_content %}
                <div class="c-overview__lead-text  s-post-content">
                    {{ item.get_the_content }}
                </div>
            {% endif %}

            {% if item.is_story %}
                {% include 'partials/follow-this-form.twig' %}
            {% endif %}

        </header>

        {% if stream %}
            <section class="stream">
                {{ stream }}
            </section>

            {% if show_closure_rule %}
                <footer class="o-rule--closure  o-rule"></footer>
            {% endif %}

            {{ pagination }}

        {% endif %}

    </section>

{% endblock %}

{% block sidebar %}
    {% if cluster.get_slug == 'whos-next' %}
        {% include 'partials/whosnext/sponsor-logo.twig' ignore missing %}
        {% include 'partials/whosnext/description-widget.twig' %}
    {% endif %}

    {% if sidebar %}
        {{ sidebar }}
    {% endif %}
{% endblock %}
