{% extends 'layouts/layout--content-sidebar.twig' %}

{% block content %}

    <article class="c-main__content  {{ item.css_classes }}"
        {{ item.get_the_data_atts }} >

        <header class="c-main__header js-main-header  c-overview">

            {% if item.has_featured_image %}
            {% include 'partials/overview/lead-image.twig' %}
            {% endif %}

            <div class="c-overview__sponsorship">
                {{ ped_slot( 'single_lead' ) }}
            </div>

            {% include 'partials/overview/overline.twig' %}
            {% include 'partials/item-title.twig' with { url: 'none' } %}

        </header>

        <section class="c-event  c-main__body">

            <div class="c-main__data">
                {% include 'partials/events/details.twig' %}
            </div>

            {% include 'partials/share-buttons.twig' %}

            {% if item.get_more %}
            <h3 class="c-main__heading">{{ heading.details }}</h3>
            <div class="s-post-content">
                {{ item.get_more }}
            </div>
            {% endif %}

            {% include 'partials/follow-this-form.twig' %}

        </section>

        {% if item.has_clusters %}
            <footer class="c-main__footer js-main-footer  [ o-rule--closure  o-rule ]">
                {% include 'partials/cluster-list.twig' %}
            </footer>
        {% endif %}

    </article>

{% endblock %}

{% block sidebar %}
	{% if sidebar %}
		{{ sidebar }}
	{% endif %}
{% endblock %}
