{% extends 'layouts/layout--content-sidebar.twig' %}

{% block content %}

    <article class="c-main__content  {{ item.css_classes }}"
        {{ item.get_the_data_atts }} >

        <header class="c-main__header js-main-header  c-overview">

            <div class="c-overview__sponsorship">
                {{ ped_slot( 'single_lead' ) }}
            </div>

            {% include 'partials/overview/overline.twig' %}
            {% include 'partials/item-title.twig' with { url: 'none' } %}
            {% include 'partials/meta-info/meta-info-entity.twig' %}
            {% include 'partials/share-buttons.twig' %}

            {% if item.get_excerpt %}
            <div class="c-overview__description">
                {{ item.get_the_excerpt }}
            </div>
            {% endif %}

        </header>

        <section class="c-main__body">
            {{ item.get_embed_html() }}
        </section>

        {% if item.has_clusters %}
            <footer class="c-main__footer js-main-footer  [ o-rule--closure  o-rule ]">
                {% include 'partials/cluster-list.twig' %}
            </footer>
        {% endif %}

    </article>

{% endblock %}

{% block sidebar %}
	{% if sidebar %}
		{{ sidebar }}
	{% endif %}
{% endblock %}
