{% extends item.get_single_base_template %}

{% block content %}

<main role="main" class="{{ main_classes }}">

    <article class="c-main__content  {{ item.css_classes }}"
        {{ item.get_the_data_atts }} >

        <header class="c-main__header  c-overview">

            {% if item.has_featured_image %}
            {% include 'partials/overview/lead-image.twig' %}
            {% endif %}

            <div class="c-overview__sponsorship">
                {{ ped_slot( 'single_lead' ) }}
            </div>

            {% include 'partials/overview/overline.twig' %}
            {% include 'partials/item-title.twig' %}

            {% if item.get_excerpt %}
                <div class="c-overview__description">
                    {{ item.get_the_excerpt }}
                </div>
            {% endif %}

            {% include 'partials/meta-info/meta-info-entity.twig' %}
            {% include 'partials/entity-share.twig' %}

        </header>

        <section class="c-main__body  s-post-content">
            {{ item.get_the_content }}
        </section>

        {% if item.get_the_footnotes %}
        <aside class="c-main__footnotes  js-content-footnotes">
            {{ item.get_the_footnotes }}
        </aside>
        {% endif %}

        <footer class="c-main__footer  [ o-rule--closure  o-rule ]">
            {% include 'partials/cluster-list.twig' %}

            {% if 'feat_contributor' == item.get_single_author.get_primary_role %}
            <div class="c-main__author-info">
                {{ macros.user_card( _context, item.get_single_author ) }}
            </div>
            {% endif %}
        </footer>

        {% include 'partials/modals/entity-share-modal.twig' %}

    </article>

    {{ macros.nativo( 'content-below' ) }}

</main>

{% endblock %}
