{% extends 'layouts/layout--content-sidebar.twig' %}

{% block content %}

    <article class="c-main__content  {{ item.css_classes }}"
        {{ item.get_the_data_atts }} >

        <header class="c-main__header js-main-header  c-overview">

            {% if item.has_featured_image %}
            {% include 'partials/overview/lead-image.twig' %}
            {% endif %}

            <div class="c-overview__sponsorship">
                {{ ped_slot( 'single_lead' ) }}
            </div>

            {% include 'partials/overview/overline.twig' %}
            {% include 'partials/item-title.twig' with { url: 'none' } %}

            {% if item.get_excerpt %}
                <div class="c-overview__description">
                    {{ item.get_the_excerpt }}
                </div>
            {% endif %}

            {% include 'partials/meta-info/meta-info-entity.twig' %}
            {% include 'partials/share-buttons.twig' %}

        </header>

        <section class="c-main__body  s-post-content">
            {{ item.get_the_content }}
        </section>

        {% if item.get_the_footnotes %}
        <aside class="c-main__footnotes  js-content-footnotes">
            {{ item.get_the_footnotes }}
        </aside>
        {% endif %}

        {% include 'partials/follow-this-form.twig' %}

        <footer class="c-main__footer js-main-footer  [ o-rule--closure  o-rule ]">
            {% if sponsored_items %}
                {% include 'partials/stream/standard/sponsored.twig' %}
            {% endif %}

            {% include 'partials/cluster-list.twig' %}

            {% if 'feat_contributor' == item.get_single_author.get_primary_role %}
            <div class="c-main__author-info">
                {{ macros.user_card( _context, item.get_single_author ) }}
            </div>
            {% endif %}
        </footer>

    </article>

    {{ macros.nativo( 'content-below' ) }}

{% endblock %}
