{% extends item.get_single_base_template %}

{% block content %}

<main role="main" class="{{ main_classes }}">

    <article class="c-newsletter  c-main__content  {{ item.css_classes }}"
        {{ item.get_the_data_atts }} >


        <header class="c-overview  c-main__header">
            <div class="c-overview__sponsorship">
                {{ ped_slot( 'single_lead' ) }}
            </div>

            {% include 'partials/overview/overline.twig' with {
                title: 'Newsletter'
            } %}

            {% include 'partials/item-title.twig' %}

            <h2 class="c-overview__description">
                {{ item.get_newsletter_subtitle }}
            </h2>
        </header>

        {% if item.get_instagram_of_the_day %}
        <section class="c-main__lead-img">
            {{ item.get_instagram_of_the_day }}
        </section>
        {% endif %}

        {% if item.get_items %}

        <section class="c-main__entities  c-stream  c-stream--newsletter  c-stream--standard  js-stream">
            {% set stream = true %}
            {% include 'partials/stream/stream-newsletter-items.twig' %}
        </section>

        {% else %}

        <section class="c-main__body  s-post-content">
            {{ item.get_the_content }}
        </section>

        {% endif %}

        <footer class="c-main__footer  [ o-rule--closure  o-rule ]"></footer>

    </article>

</main>

{% endblock %}
