{% extends item.get_single_base_template %}

{% block content %}

<main role="main" class="{{ main_classes }}">

    <article class="c-content  c-panel  {{ macros.has_title_bar( _context ) }}  {{ item.css_classes }}"
        {{ item.get_the_data_atts }} >

        {{ macros.title_bar( _context, { background_color : item.get_inline_styles } ) }}

        <div class="c-panel__inner">

            <header class="c-content__header">

                {% if item.has_featured_image() %}
                <div class="c-content__lead-img">
                    {% include 'partials/lead-image.twig' %}
                </div>
                {% endif %}

                {{ ped_slot( 'single_lead' ) }}

                <h2 class="c-content__headline">{{ item.get_the_title }}</h2>

                <div class="c-content__meta">
                    {% include 'partials/meta-info/meta-info-entity.twig' %}
                </div>

                <div class="c-content__share">
                {% if item.has_story() %}
                    {% include 'partials/entity-share.twig' %}
                {% else %}
                    {% include 'partials/entity-share-sans-story.twig' %}
                {% endif %}
                </div>

            </header>

            <section class="c-content__body  s-post-content">
                {{ item.get_the_content }}
            </section>

            {% if item.get_the_footnotes %}
            <aside class="c-content__footnotes  js-content-footnotes">
                {{ item.get_the_footnotes }}
            </aside>
            {% endif %}

            <footer class="c-content__footer  [ o-rule--closure  o-rule ]">
                {% if 'feat_contributor' == item.get_single_author.get_primary_role %}
                <div class="c-content__author-info">
                    {{ macros.user_card( _context, item.get_single_author ) }}
                </div>
                {% endif %}
            </footer>

        </div>

    </article>

    {{ macros.nativo( 'content-below' ) }}

</main>

{% endblock %}
