{% extends "base.twig" %}

{% block content %}

<main role="main" class="{{ main_classes }}">

    <article class="c-content  c-panel  {{ macros.has_title_bar( _context ) }}  {{ item.css_classes }}"
        {{ item.get_the_data_atts }} >

        {{ macros.title_bar( _context ) }}

        <div class="c-panel__inner">

            <header class="c-content__header">

                {{ ped_slot( 'single_lead' ) }}

                <h2 class="c-content__headline">{{ item.get_the_title }}</h2>

                <div class="c-content__meta">
                    {% include 'partials/meta-info/meta-info-entity.twig' %}
                </div>

                <div class="c-content__share">
                {% if item.has_story() %}
                    {% include 'partials/entity-share.twig' %}
                {% else %}
                    {% include 'partials/entity-share-sans-story.twig' %}
                {% endif %}
                </div>

                {% if item.get_excerpt %}
                <div class="entity-excerpt js-entity-excerpt">
                    {{ item.get_the_excerpt }}
                </div>
                {% endif %}

            </header>

            <section class="c-content__body">
                {{ item.get_embed_html() }}
            </section>

        </div>

    </article>

</main>

{% endblock %}
