{% extends item.get_single_base_template %}

{% block content %}

<main role="main" class="{{ main_classes }}">

    <article class="c-content  c-panel  {{ macros.has_story_bar( _context ) }}  {{ item.css_classes }}"
        {{ item.get_the_data_atts }} >

        {{ macros.blox( _context, {}, 'story-bar' ) }}

        <div class="c-panel__inner">

            <header class="c-content__header">

                {{ ped_slot( 'single_lead' ) }}

                <h2 class="c-content__title">{{ item.get_the_title }}</h2>

                <div class="c-content__meta">
                    {% include 'partials/meta-info/meta-info-entity.twig' %}
                </div>

                {% include 'partials/entity-share.twig' %}

                {% if item.get_excerpt %}
                <div class="entity-excerpt js-entity-excerpt">
                    {{ item.get_the_excerpt }}
                </div>
                {% endif %}

            </header>

            <section class="c-content__body">
                {{ item.get_embed_html() }}
            </section>

            {% include 'partials/modals/entity-share-modal.twig' %}

        </div>

    </article>

</main>

{% endblock %}
