{% extends item.get_single_base_template %}

{% block content %}

<main role="main" class="{{ main_classes }}">

    <section class="c-content  c-panel  has-title-bar  {{ item.css_classes }}"
        {{ item.get_the_data_atts }} >

        {{ macros.title_bar( _context, { 'location': 'header' } ) }}

        <div class="c-panel__inner">

            <header class="c-content__header">

                <div class="c-content__share">
                    {% include 'partials/entity-share.twig' %}
                </div>

                {% if not item.is_stream_first_page %}
                    <div class="c-content__paged">
                        {{ macros.pagination( item.get_pagination, { 'show_nav': false } ) }}
                    </div>
                {% else %}

                    {% if item.has_featured_image() %}
                    <div class="c-content__lead-img">
                        {% include 'partials/lead-image.twig' %}
                    </div>
                    {% endif %}

                    {% if item.get_headline() %}
                        <h2 class="c-content__headline">{{ item.get_the_headline }}</h2>
                    {% endif %}

                    <div class="c-content__meta">
                        {% include 'partials/meta-info/meta-info-story.twig' %}
                    </div>

                    {% if item.get_content() %}
                    <div class="c-content__lead s-post-content">
                        {{ item.get_the_content }}
                    </div>
                    {% endif %}

                {% endif %}

            </header>

            <section class="c-content__entities  c-stream  c-stream--pedalized  js-stream">

                <div class="c-stream__items  js-stream-items">

                {% for item in item.get_entities %}
                    {% if not ( 'whosnext' == item.get_type and 'nomination' == item.get_whosnext_type ) %}

                        {% set counter = ( counter | default(0) ) + 1 %}

                        {% if counter == 4 %}
                            {{ macros.nativo( 'cluster-stream-04' ) }}
                        {% endif %}

                        {% if counter == 8 %}
                            {% include 'partials/adverts/dfp-stream-08.twig' ignore missing %}
                        {% endif %}

                        {% if counter == 12 %}
                            {{ macros.nativo( 'cluster-stream-12' ) }}
                        {% endif %}

                        {% if counter == 16 %}
                            {% include 'partials/adverts/dfp-stream-16.twig' ignore missing %}
                        {% endif %}

                        {% include [
                            'partials/stream/pedalized/' ~ item.get_type ~ '.twig',
                            'partials/stream/pedalized/entity.twig'
                        ] %}

                    {% endif %}

                    {% if loop.length < 8 and loop.last %}
                        {% include 'partials/adverts/dfp-stream-08.twig' ignore missing %}
                    {% endif %}

                {% endfor %}

                </div>

                {% if item.get_pagination or item.is_stream_last_page %}
                    {% if item.is_stream_last_page %}
                        {% set last_page_classes = 'o-rule--closure  o-rule' %}
                    {% endif %}
                    <footer class="c-stream__footer {{ last_page_classes }}">
                        {{ macros.pagination( item.get_pagination ) }}
                    </footer>
                {% endif %}

            </section>

        </div>

    </section>

    {{ macros.nativo( 'content-below' ) }}

</main>

{% endblock %}
