{% import _self as footer_macros %}

{% macro link( title, link ) %}
{% if title == 'Search' %}
    <li>
        <a
            href="{{ link|esc_url }}"
            data-ga-category="Footer Links"
            data-ga-label="{{ title|esc_attr }}"
            data-modal-id="search-modal"
            class="js-modal-trigger"
        >
            {{ title }}
        </a>
    </li>
{% else %}
    <li>
        <a href="{{ link|esc_url }}" data-ga-category="Footer Links" data-ga-label="{{ title|esc_attr }}">
            {{ title }}
        </a>
    </li>
{% endif %}
{% endmacro %}

<footer class="site-footer" role="contentinfo">
    <nav class="site-footer__nav">
        <div class="site-footer__container">
            <ul class="site-footer__social">
                {% set gaCategorySocial = 'Social Icon - Footer' %}

                {% for item in footer_social_icons %}
                <li class="site-footer__social__item">
                    <a
                        href="{{ item.url|esc_url }}"
                        target="_blank"
                        class="site-footer__social__link"
                        data-ga-category="Social Icon - Footer"
                        data-ga-label="{{ item.ga_label }}"
                    >
                        {{ ped_icon( item.icon ) }}
                        <span class="invisible">{{ item.sr_label }}</span>
                    </a>
                </li>
                {% endfor %}

            </ul>

            {% spaceless %}
            <ul class="site-footer__links">
                {% for title, link in footer_menu %}
                {{ footer_macros.link( title, link ) }}
                {% endfor %}
            </ul>
            {% endspaceless %}
        </div>
    </nav>

    <div class="site-footer__colophon">
        <div class="row">
            <div class="columns small-12">
                <span class="site-footer__newsroom">
                    {{ ped_logo( 'logo-icon', 'logo--icon--light site-footer__logo' ) }}
                    {{ site.name }} is a <a href="https://spiritedmedia.com/">Spirited Newsroom</a>
                </span>
                <span class="site-footer__copyright">{{ copyright_text }}</span>
            </div>
        </div>
    </div>
</footer>
