{% import _self as footer_macros %}

{% macro link( title, link ) %}
{% if title == 'Search' %}
    <li>
        <a
            href="{{ link|esc_url }}"
            data-ga-category="navigation"
            data-ga-label="footer"
            data-ga-action="/virtual/internal/search-modal"
            data-modal-id="search-modal"
            class="js-modal-trigger"
        >
            {{ title }}
        </a>
    </li>
{% else %}
    <li>
        <a href="{{ link|esc_url }}" data-ga-category="navigation" data-ga-label="footer">
            {{ title }}
        </a>
    </li>
{% endif %}
{% endmacro %}

<footer class="site-footer" role="contentinfo">
    <nav class="site-footer__nav">
        <div class="site-footer__container">
            <ul class="site-footer__social">
                {% for item in footer_social_icons %}
                <li class="site-footer__social__item">
                    <a
                        href="{{ item.url|esc_url }}"
                        target="_blank"
                        class="site-footer__social__link"
                        data-ga-category="navigation"
                        data-ga-label="footer"
                    >
                        {{ ped_icon( item.icon ) }}
                        <span class="invisible">{{ item.sr_label }}</span>
                    </a>
                </li>
                {% endfor %}

            </ul>

            {% spaceless %}
            <ul class="site-footer__links">
                {% for title, link in footer_menu %}
                {{ footer_macros.link( title, link ) }}
                {% endfor %}
            </ul>
            {% endspaceless %}
        </div>
    </nav>

    <div class="site-footer__colophon">
        <div class="row">
            <div class="columns small-12">
                <span class="site-footer__newsroom">
                    {{ ped_logo( 'logo-icon', 'logo--icon--light site-footer__logo' ) }}
                    {{ site.name }} is a <a href="https://spiritedmedia.com/" data-ga-category="navigation" data-ga-label="footer">Spirited Newsroom</a>
                </span>
                <span class="site-footer__copyright">{{ copyright_text }}</span>
            </div>
        </div>
    </div>
</footer>
