{% extends 'layouts/layout--content-sidebar.twig' %}

{% block head %}
{# Custom styles for this page #}
<style>
    h4,
    h5 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    }
</style>
{% endblock %}


{% block content %}
{% markdown %}

# Input Groups

🚫 **These aren't used anywhere in production.**

## Basic

{% set basic %}
<div class="input-group">
    <span class="input-group__addon" id="basic-addon1">@</span>
    <input type="text" class="form-input" placeholder="Username" aria-describedby="basic-addon1">
</div>
    <br>
<div class="input-group">
    <input type="text" class="form-input" placeholder="Recipient's username" aria-describedby="basic-addon2">
    <span class="input-group__addon" id="basic-addon2">@example.com</span>
</div>
    <br>
<label for="basic-url">Your vanity URL</label>
<div class="input-group">
    <span class="input-group__addon" id="basic-addon3">https://example.com/users/</span>
    <input type="text" class="form-input" id="basic-url" aria-describedby="basic-addon3">
</div>
<br>
<div class="input-group">
    <span class="input-group__addon">$</span>
    <input type="text" class="form-input" aria-label="Amount (to the nearest dollar)">
    <span class="input-group__addon">.00</span>
</div>
<br>
<div class="input-group">
    <span class="input-group__addon">$</span>
    <span class="input-group__addon">0.00</span>
    <input type="text" class="form-input" aria-label="Amount (to the nearest dollar)">
</div>
{% endset %}

{{ basic }}

```html
{{ basic }}
```




### Button Addons

{% set button_addons %}
<div class="row">
    <div class="columns large-6">
        <div class="input-group">
            <span class="input-group__btn">
                <button class="btn btn--primary" type="button">Go!</button>
            </span>
            <input type="text" class="form-input" placeholder="Search for...">
        </div>
    </div>
    <div class="columns large-6">
        <div class="input-group">
            <input type="text" class="form-input" placeholder="Search for...">
            <span class="input-group__btn">
                <button class="btn btn--primary" type="button">Go!</button>
            </span>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="columns large-6">
        <div class="input-group">
            <span class="input-group__btn">
                <button class="btn btn--primary" type="button">Hate it</button>
            </span>
            <input type="text" class="form-input" placeholder="Product name">
            <span class="input-group__btn">
                <button class="btn btn--primary" type="button">Love it</button>
            </span>
        </div>
    </div>
</div>
{% endset %}

{{ button_addons }}

```html
{{ button_addons }}
```





### Sizing

{% set sizing %}
<div class="input-group input-group--lg">
    <span class="input-group__addon" id="sizing-addon1">@</span>
    <input type="text" class="form-input" placeholder="Username" aria-describedby="sizing-addon1">
</div>
<br>
<div class="input-group input-group--sm">
    <span class="input-group__addon" id="sizing-addon2">@</span>
    <input type="text" class="form-input" placeholder="Username" aria-describedby="sizing-addon2">
</div>
<br>
<div class="input-group input-group--lg">
    <span class="input-group__btn">
        <button class="btn btn--primary" type="button">Go!</button>
    </span>
    <input type="text" class="form-input" placeholder="Username" aria-describedby="sizing-addon1">
</div>
<br>
<div class="input-group input-group--sm">
    <span class="input-group__btn">
        <button class="btn btn--primary" type="button">Go!</button>
    </span>
    <input type="text" class="form-input" placeholder="Username" aria-describedby="sizing-addon2">
</div>
{% endset %}

{{ sizing }}

```html
{{ sizing }}
```





### Checkboxes and Radio Addons

{% set check_radio %}
<div class="row">
    <div class="columns large-6">
        <div class="input-group">
            <span class="input-group__addon">
                <input type="checkbox" aria-label="Checkbox for following text input">
            </span>
            <input type="text" class="form-input" aria-label="Text input with checkbox">
        </div>
    </div>
    <div class="columns large-6">
        <div class="input-group">
            <span class="input-group__addon">
                <input type="radio" aria-label="Radio button for following text input">
            </span>
            <input type="text" class="form-input" aria-label="Text input with radio button">
        </div>
    </div>
</div>
{% endset %}

{{ check_radio }}

```html
{{ check_radio }}
```





{% endmarkdown %}
{% endblock %}

{% block sidebar %}
    {# Silence is golden! #}
{% endblock %}
