{% extends 'layouts/layout--content-sidebar.twig' %}

{% block head %}
{# Custom styles for this page #}
<style>
h2.styleguide {
    margin: 45px 0 20px;
}
</style>
{% endblock %}

{% block content %}

    <p>
        <label for="state-change">Change State:</label>
        <select id="state-change">
            <option value="">--</option>
            <option value="is-loading">Loading</option>
            <option value="is-success">Success</option>
            <option value="is-failed">Failed</option>
        </select>
    </p>

    <h2 class="styleguide">Newsletter Prompt</h2>
    <div class="signup-email">
        {{ default_inline_prompt }}
    </div>

    <h2 class="styleguide"><a href="{{ shortcode_url|esc_url }}" target="_blank">Shortcode Newsletter Prompt</a></h2>
    {{ shortcode_inline_prompt }}

    <h2 class="styleguide"><a href="{{ cluster_url|esc_url }}" target="_blank">Cluster Prompt</a></h2>
    {{ cluster_prompt }}

    <script>
        jQuery(document).ready(function($) {
            $('#state-change').on('change', function(e) {
                var newClass = $(this).val();
                $('.js-signup-email-form')
                    .parent()
                    .removeClass('is-loading is-success is-failed')
                    .addClass(newClass);
            });
        });
    </script>
{% endblock %}

{% block sidebar %}
    {# Silence is golden! #}
{% endblock %}
