{% extends 'layouts/layout--content-sidebar.twig' %}

{% block content %}
    <h1>Utilities</h1>

    <p>These are utility classes found in <a href="https://github.com/spiritedmedia/spiritedmedia/blob/master/wp-content/themes/pedestal/assets/scss/utilities/_utilities.scss">https://github.com/spiritedmedia/spiritedmedia/blob/master/wp-content/themes/pedestal/assets/scss/utilities/_utilities.scss</a></p>

    <p><code>.u-text-color-primary</code></p>
     <p class="u-text-color-primary">This <em>should</em> be in the site's <strong>primary</strong> color!</p>
     <hr>

    {% for class, label in classes %}
        <p><code>{{ class }}</code></p>
        {% for elem,descrip in elements %}
            <{{ elem }} class="{{ class|esc_attr }}">I'm a {{ descrip }} but should be the same size as a {{ label }}</{{ elem }}>
        {% endfor %}
        <hr>
    {% endfor %}

    <p>Our loading spinner&hellip;</p>
    <div class="c-spinner js-spinner" style="display: block;">
        <div class="c-spinner__inner sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>

{% endblock %}

{% block sidebar %}
    {# Silence is golden! #}
{% endblock %}
