<div id="share-article" class="[ reveal-modal  dark-reveal-modal ]  small  js-share-modal" data-reveal>
    <a class="close-reveal-modal" href="#close-share-modal" data-ga-category="Button" data-ga-label="Share Modal|Close|{{item.get_the_title}}">&#215;</a>
    <ul class="side-nav">
        <li>
            <a class="btn btn--secondary btn--large btn--full-width js-share-modal-btn"
                target="_blank"
                href="{{ item.get_facebook_share_link }}"
                data-share-dest="facebook" data-ga-category="Button"
                data-ga-label="Share Modal|Facebook|{{item.get_the_title}}">
                facebook
            </a>
        </li>
        <li>
            <a class="btn btn--secondary btn--large btn--full-width js-share-modal-btn"
                target="_blank"
                href="{{ item.get_twitter_share_link }}"
                data-share-dest="twitter"
                data-ga-category="Button"
                data-ga-label="Share Modal|Twitter|{{item.get_the_title}}">
                twitter
            </a>
        </li>
        <li>
            <a class="btn btn--secondary btn--large btn--full-width js-share-modal-btn"
                target="_blank"
                href="{{ item.get_linkedin_share_link }}"
                data-share-dest="linkedin"
                data-ga-category="Button"
                data-ga-label="Share Modal|LinkedIn|{{item.get_the_title}}">
                linkedin
            </a>
        </li>
        <li>
            <a class="btn btn--secondary btn--large btn--full-width js-share-modal-btn"
                target="_blank" href="{{ item.get_mailto_share_string }}"
                data-share-dest="email"
                data-ga-category="Button"
                data-ga-label="Share Modal|Email|{{item.get_the_title}}">
                email
            </a>
        </li>
    </ul>
</div>
